  // Neutrals -Use for default text and secondary UI elements, such as secondary buttons or navigation elements.
  
  // Solid
  $neutral-50:  #ffffff;
  $neutral-75: #fcfcfc;
  $neutral-100: #f7f7f7;
  $neutral-200: #e5e5e5;
  $neutral-300: #d4d4d4;
  $neutral-400: #b1b1b1;
  $neutral-500: #909090;
  $neutral-600: #6c6c6c;
  $neutral-700: #454545;
  $neutral-800: #212121;
  $neutral-900: #000000;

  $neutral-50-dark:  #000000;
  $neutral-75-dark: #0e0e0e;
  $neutral-100-dark: #1d1d1d;
  $neutral-200-dark: #303030;
  $neutral-300-dark: #4b4b4b;
  $neutral-400-dark: #6a6a6a;
  $neutral-500-dark: #8d8d8d;
  $neutral-600-dark: #b0b0b0;
  $neutral-700-dark: #d0d0d0;
  $neutral-800-dark: #ebebeb;
  $neutral-900-dark: #ffffff;

  // Alpha - Alpha colors have varying levels of transparency or opacity.
  $neutral-100A: #f7f7f7f7;
  $neutral-200A: #e5e5e5e5;
  $neutral-300A: #d4d4d4d4;
  $neutral-400A: #b1b1b1b1;
  $neutral-500A: #90909090;

  $neutral-100A-dark: #f7f7f7f7;
  $neutral-200A-dark: #e5e5e5e5;
  $neutral-300A-dark: #d4d4d4d4;
  $neutral-400A-dark: #b1b1b1b1;
  $neutral-500A-dark: #90909090;
  





  // Accent Colors: Use for colors that don't have any specific meaning tied to them. 
                // You should be able to exchange one accent color for another, and the experience would remain unchanged.

    // They can be use for:
        // informative purposes
        // secondary and tertiary purposes

  // Positive - Use to communicate a favorable outcome, such as a success message.
  $green-50:    #e1f2ee;
  $green-75:    #e1f2ee;
  $green-100:   #b5e0d3;
  $green-200:   #87ccb8;
  $green-300:   #5ab89c;
  $green-400:   #3ca889;
  $green-500:   #289877;
  $green-600:   #248b6b;
  $green-700:   #1f7b5c; 
  $green-800:   #186b4f;
  $green-900:   #0e4f35;

  // Notice - Use for UI that communicates caution to prevent a mistake or error from occurring.
  $orange-50:    #fffde7;
  $orange-75:    #fffde7;
  $orange-100:   #fff8c3;
  $orange-200:   #fff39b;
  $orange-300:   #ffed71;
  $orange-400:   #ffe850;
  $orange-500:   #ffe328;
  $orange-600:   #ffd72e;
  $orange-700:   #eac127;
  $orange-800:  #d5aa22;
  $orange-900:  #b38416; 
  

  // Informative - Use for informative UI, such as an information icon, or UI that communicates something is in progress.
  $blue-50:     #e1f8fa;
  $blue-75:     #e1f8fa;
  $blue-100:    #b4eef2;
  $blue-200:    #83e3eb;
  $blue-300:    #50d7e3;
  $blue-400:    #29cedd;
  $blue-500:    #00c6d8;
  $blue-600:    #00b5c5;
  $blue-700:    #00a0ab; 
  $blue-800:    #018b93;
  $blue-900:    #016868;
  
  // Negative - Use for UI that communicates danger or serious error states.
  $red-50:      #fbe8e6; 
  $red-75:      #fbe8e6; 
  $red-100:     #ffc9ba;
  $red-200:     #fea58e;
  $red-300:     #fd8262;
  $red-400:     #fd6540;
  $red-500:     #fd471f;
  $red-600:     #f2411c;
  $red-700:     #e43a16;
  $red-800:     #d63312; 
  $red-900:     #bd2408;
  
  // Discovery - Use for UI that communicates something new, such as onboarding or new feature information.
  $teal-50:     #e1f8fa;
  $teal-75:     #e1f8fa;
  $teal-100:    #b4eef2;
  $teal-200:    #83e3eb;
  $teal-300:    #50d7e3;
  $teal-400:    #29cedd;
  $teal-500:    #00c6d8;
  $teal-600:    #00b5c5;
  $teal-700:    #00a0ab; 
  $teal-800:    #018b93;
  $teal-900:    #016868;

  // Yellow

  // Purple

  // Magenta

  // Lime
