{% assign component = include.item %}
{% assign source = item.url | prepend: site.baseurl %}
{% assign slug = item.slug %}
{% assign title = item.slug | replace: "-", " " | capitalize %}
{% assign description = item.description | markdownify %}
{% assign hint = item.hint | markdownify %}
{% assign html = item.content %}
{% assign parameters = item.parameters %}
{% assign tab_name = slug | append: "-tab" %}


<li class="component" id="{{ slug }}">
  <div class="component-doc">
    <h2 class="component-title">
      {{ title }}
    </h2>
    <p>
      {{ description }}
    </p>

    <table class="component-table">
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for parameter in parameters %}
          {% assign parameter_name =
          parameter[0] %}
          {% assign parameter_desc = parameter[1] | markdownify
          %}
          <tr>
            <td>
              <code>{{ parameter_name }}</code>
            </td>
            <td>{{ parameter_desc }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if hint %}
      <div class="component-hint">
        {{ hint }}
      </div>
    {% endif %}

  </div>
  <div class="component-showcase">
    <div class="component-output">
      <a class="component-fullscreen" href="{{ source }}" title="Open in a New window" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
        </svg>
        <span class="u-sr-only">Open in a New window</span>
      </a>

      <!-- <iframe class="component-iframe" src="{{ source }}" title="{{ title }}"></iframe> -->
      {{ html }}
    </div>
    <div class="component-code">
      <!-- tabs -->
      <div class="component-tabbed js-component-tabbed">
        <nav class="component-tabs" role="tablist">
          <a class="component-tab" aria-selected="true" role="tab" id="{{ tab_name }}-html"  href="#{{ tab_name }}-html">
            HTML
          </a>
          <!-- <a class="component-tab" href="#{{ tab_name }}-scss">
            SCSS
          </a> -->
        </nav>

        <div class="component-tabs-panels">
          <section id="{{ tab_name }}-html" role="tabpanel" aria-labelledby="{{ tab_name }}-html" class="component-tab-panel">
            {% highlight html %}{{ html }}{% endhighlight %}
          </section>
          <!-- <section id="{{ tab_name }}-scss" class="component-tab-panel">
            {% highlight css %}{{ css }}{% endhighlight %}
          </section> -->
        </div>
      </div>
      <!-- /tabs -->
    </div>
  </div>
</li>
