<div class="cp-masthead" role="banner">
    <div class="cp-masthead__contain">
      <div class="cp-masthead__text cp-masthead__text--at-center cp-masthead__text--align-center">
        <h1 id="title" class="cp-masthead__title">
            BAREBOOK
        </h1>
        <p class="cp-masthead__sub-title">
            Barebook is a Design System base on ITCSS architecture. It is also base on a composite of a number of methodologies and principles such as BEM, SMACSS, and OOCSS.
        </p>
      </div>

      <div>
          <p>
              It is use for my personal site and side projects. I also use it as a single source of truth on some of the small products I did with my partners.
          </p>
      </div>
    </div>
</div>



