table {  
  border-collapse: collapse;
  border-spacing: 0;
  line-height: var(--leading-base);
}

td,
th {
  padding: var(--size-extra-tiny);
}

th {
  text-align: start;
  font-size: var(--typescale-small);
  line-height: var(--leading-tiny);
  font-weight: bold;
}

caption {
  color: var(--surface-light);
  font-size: var(--typescale-tiny);
  font-style: italic;
  text-align: center;
  padding-block-end: var(--size-extra-tiny);
}
