<div class="cp-breadcrumb">
  <div class="cp-breadcrumb__contain">

    <nav class="cp-breadcrumb__nav" aria-label="Breadcrumb Navigation">
      {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="16" 
            height="16" 
            class="ob-icon cp-breadcrumb__back-icon"
            viewBox="0 0 16 16"
          >
            <path d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>

          <a href="/" class="cp-breadcrumb__nav__link">Home</a>

          {% for crumb in crumbs offset: 1 %}
            <a
                class="cp-breadcrumb__nav__link"
                href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}"
            >
                {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
            </a>
        {% endfor %}
    </nav>
      
  </div>
</div>
