<div class="cp-fullscreen-nav-wrapper ob-off-canvas-nav js-fullscreen-nav" role="navigation" aria-label="Fullscreen Navigation" hidden>
  <div class="ob-contain ob-contain--align-center ob-off-canvas-nav__contain">

    <div class="ob-off-canvas-nav__header">
      {% include components/logo.html color="--white" %}
      {% include components/toggle-nav-icon-close.html %}
    </div>

    <div class="cp-fullscreen-navs ob-off-canvas-nav__main">
      <nav class="cp-fullscreen-nav">
          <ul class="cp-fullscreen-nav__list">
              {% for item in site.data.navigation.primary %}
                <li>
                  <a href="{{ item.url }}" class="cp-fullscreen-nav__link">{{ item.title }}</a>
                </li>
              {% endfor %}
          </ul>
      </nav>
      <nav class="cp-fullscreen-nav">
        <ul class="cp-fullscreen-nav__list cp-fullscreen-nav__list--alt">
            {% for item in site.data.navigation.secondary %}
              <li>
                <a href="{{ item.url }}" class="cp-fullscreen-nav__link">{{ item.title }}</a>
              </li>
            {% endfor %}
        </ul>
    </nav>
    <nav class="cp-fullscreen-nav">
      <ul class="cp-fullscreen-nav__list cp-fullscreen-nav__list--alt">
          {% for item in site.data.navigation.tertiary %}
            <li>
              <a href="{{ item.url }}" class="cp-fullscreen-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
      </ul>
  </nav>
    </div>

  </div>
</div>