<div class="cp-masthead cp-masthead--fullscreen" role="banner">
    <div class="cp-masthead__contain">
      <div class="cp-masthead__text cp-masthead__text--at-center cp-masthead__text--align-center">
        <h1 id="title" class="cp-masthead__title">
            BAREBOOK
        </h1>
        <p class="cp-masthead__sub-title">
            Barebook is a Design System base on ITCSS architecture. It also uses methodologies and principles such as BEM, SMACSS, and OOCSS.
        </p>
      </div>
    </div>
</div>