<div class="cp-masthead" role="banner">
    <div class="cp-masthead__text cp-masthead__text--align-left-center">
      
      <h1 id="title" class="cp-masthead__title cp-masthead__title--preline">
        Barebook Design System
      </h1>

      <p class="cp-masthead__lead-text">
        Barebook is an open-source, side project, tiny design system with a strong focus on performance, scalability, maintainability, and a small footprint. Its architecture is based on ITCSS which is designed to aid the growth and maintainability of CSS projects. It also uses a composition of methodologies and principles such as BEM, SMACSS and OOCSS.
      </p>
  </div>
</div>