<div class="cp-masthead cp-masthead--fullscreen" role="banner">
  <div class="cp-masthead__text cp-masthead__text--align-center">
    <h1 id="title" class="cp-masthead__title">
      BAREBOOK
    </h1>

    <p class="cp-masthead__lead-text">
      Barebook is an open-source, side project,  design system with a strong focus on performance, scalability, maintainability, and a small footprint.
    </p>

    <a class="cp-button cp-button--primary cp-masthead__button" href="#" >
      Get Started
    </a>
  </div>
</div>