<div class="cp-mobile-nav-bar ut-hidden-tablet-medium-yes">
    <div class="cp-mobile-nav-bar__contain">
        <ul class="cp-mobile-nav-bar__list">
            <li class="cp-mobile-nav-bar__item">
                <button class="cp-toggle-nav-icon js-open-nav" aria-hidden="true">
                    <div class="cp-toggle-nav-icon__icon">
                      <span>&nbsp;</span>
                      <span>&nbsp;</span>
                      <span>&nbsp;</span>
                    </div>
                  </button>
            </li>
        </ul>
    </div>
</div>