
<details class="cp-details" aria-label="In this article" role="navigation">
  <summary class="cp-details__summary">
    In this article
  </summary>
  <div class="cp-details__content">
    <nav class="cp-toc__nav">
      <ul class="cp-toc__list">
        <li class="cp-toc__list-item">
          <a class="cp-toc__link" href="#">I am a list</a>
        </li>
        <li class="cp-toc__list-item">
          <a class="cp-toc__link" href="#">me too</a>
        </li>
        <li class="cp-toc__list-item">
          <a class="cp-toc__link" href="#">and me also</a>
        </li>
      </ul>
    </nav>
  </div>
</details>