<details class="cp-toc cp-accordion cp-accordion--details ut-hidden-laptop-large-yes" aria-label="In this article" role="navigation">
  <summary class="cp-toc__title cp-accordion__summary">
    In this article
  </summary>
  <div class="cp-accordion__content">
    <nav class="cp-toc__nav">
      <ul class="cp-toc__list">
        <li class="cp-toc__list-item">
          <a class="cp-toc__link" href="#">I am a list</a>
        </li>
        <li class="cp-toc__list-item">
          <a class="cp-toc__link is-active" href="#">me too</a>
          <ul class="cp-toc__list">
            <li class="cp-toc__list-item">
              <a class="cp-toc__link" href="#">I am a list</a>
            </li>
            <li class="cp-toc__list-item">
              <a class="cp-toc__link" href="#">me too</a>
            </li>
            <li class="cp-toc__list-item">
              <a class="cp-toc__link" href="#">and me also</a>
            </li>
          </ul>
        </li>
        <li class="cp-toc__list-item">
          <a class="cp-toc__link" href="#">and me also</a>
        </li>
      </ul>
    </nav>
  </div>
</details>