<section class="cp-toc">
            
  <h2 class="cp-toc__title">
    In this article
  </h2>

  <nav class="cp-toc__nav">
    <ul class="cp-toc__list">
      <li class="cp-toc__list-item">
        <a class="cp-toc__link" href="#">I am a list</a>
      </li>
      <li class="cp-toc__list-item">
        <a class="cp-toc__link" href="#">me too</a>
      </li>
      <li class="cp-toc__list-item">
        <a class="cp-toc__link" href="#">and me also</a>
      </li>
    </ul>
  </nav>

  {% assign elementsByType = site.elements | sort:"order" | group_by:"type"  %} 
  {% for type in elementsByType %}

    {% if type.name %}
      <a class="cp-toc__link" href="#{{ type.name | slugify }}">{{ type.name | capitalize }}</a>
    {% endif %}

    <ul class="cp-toc__list" >
    {% for entry in type.items %}
      <li class="cp-toc__item">
        <a class="cp-toc__link" href="#{{ entry.title | slugify }}">{{ entry.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
  
</section>