.cp-accordion {
  border: 1px solid var(--border-color-subdued);
}

.cp-accordion__title {
    padding: var(--size-12);
    font-size: var(--font-size-subtitle);
    cursor: pointer;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: var(--size-12);
      top: 14px;
    }
  
    &::before {
      width: var(--size-32);
      height: var(--size-32);
      border: 2px solid transparent;
      border-radius: var(--bd-radius-circle);
    }
  
    &::after {
      width: 12px;
      height: 12px;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(45deg);
      top: 21px;
      right: 22px;
    }
  
    &:hover {
      &::before {
        border-color: var(--border-color-subdued);
      }
    }
}

.cp-accordion__content {
  padding: var(--size-12);
}



.cp-accordion[open]
.cp-accordion__title::after {
  transform: rotate(-135deg);
  top: 27px;
}