.cp-accordions {
  @include owl(--gutter-extra-small)
}

.cp-accordion {
  padding: var(--spacing-medium) var(--spacing-small);
}


// Modifiers
.cp-accordion--details {
  border: 1px solid var(--outline);
  border-radius: var(--rounded-small);
}


// Elements
.cp-accordion__summary {
  font-size: var(--lead-text-small);
  padding-inline-end: var(--spacing-large);

  &::before,
  &::after {
    @include pseudo-class;
    position: absolute;
    top: 0;
  }

  &::before {
    width: 28px;
    height: 28px;
  }

  &::after {
    width: 12px;
    height: 12px;
    border-bottom: 2px solid var(--surface-fader);
    border-right: 2px solid var(--surface-fader);
    inset-block-start: 6px;
    inset-inline-end: 8px;
    transform: rotate(45deg);
  }
}

.cp-accordion__content {
  padding-block-start: var(--spacing-medium);
  padding-block-end: var(--spacing-medium);
}


// State
.cp-accordion[open] {
  .cp-accordion__summary {
    &::after {
      inset-block-start: 12px;
      transform: rotate(-135deg);
    }
  }
}




// MQs
@include respond(tablet-large) {
  .cp-accordion__summary {
    font-size: var(--lead-text-large);
    line-height: var(--leading-large);
  }
}