<div class="bb-barner">
  <div class="bb-contain">

    <nav class="bb-breadcrumb" aria-label="Breadcrumb Navigation">
      {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
          <a href="/" class="bb-breadcrumb__link">Home</a>
          {% for crumb in crumbs offset: 1 %}
          <a
              class="bb-breadcrumb__link"
              href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}"
          >
              {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
          </a>
      {% endfor %}
    </nav>
      
  </div>
</div>
