<header class="bb-header">
  <div class="bb-contain bb-header__contain">
    <a href="/" class="bb-logo" title="Home">
        <svg 
          class="bb-logo__img" 
          role="img" 
          aria-labelledby="barebook-logo" 
          height="48" 
          width="58" 
          viewBox="0 0 48 48" 
          xmlns="http://www.w3.org/2000/svg">
          <title>
            Barebook
          </title>
          <g fill="#000">
            <rect width="16" height="16" x="0" y="0" />
            <rect width="32" height="32" x="21" y="7" />
          </g>
        </svg>
       <span class="bb-logo__text">
        Barebook
       </span>
    </a>

    

    <button class="bb-menu" aria-hidden="true" hidden></button>

    <nav class="bb-primary-nav" aria-label="Primary Navigation">
      <ul class="bb-primary-nav__list">
        <li class="bb-primary-nav__item">
          <a href="/design" class="bb-primary-nav__link"> Design </a>
        </li>
        <li class="bb-primary-nav__item">
          <a href="/elements" class="bb-primary-nav__link"> Eelements </a>
        </li>
        <li class="bb-primary-nav__item">
          <a href="/components" class="bb-primary-nav__link"> Components </a>
        </li>
        <li class="bb-primary-nav__item">
          <a href="/patterns" class="bb-primary-nav__link"> Patterns </a>
        </li>
      </ul>
    </nav>
  </div>
</header>