<header class="bb-header">
  <a href="/" class="bb-logo" title="Home"> Barebook </a>

  <button class="bb-menu" aria-hidden="true" hidden></button>

  <nav class="bb-primary-nav" aria-label="Primary Navigation">
    <ul class="bb-primary-nav__list">
      <li class="bb-primary-nav__item">
        <a href="/design" class="bb-primary-nav__link"> Design </a>
      </li>
      <li class="bb-primary-nav__item">
        <a href="/elements" class="bb-primary-nav__link"> Eelements </a>
      </li>
      <li class="bb-primary-nav__item">
        <a href="/components" class="bb-primary-nav__link"> Components </a>
      </li>
      <li class="bb-primary-nav__item">
        <a href="/patterns" class="bb-primary-nav__link"> Patterns </a>
      </li>
    </ul>
  </nav>
</header>
