.cp-article {
  font-size: var(--fs-body-large);
  margin-block-start: var(--size-48);
  margin-block-end: var(--size-48);

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: var(--size-72);
  }
}

// Elements
.cp-article__header {
  @include dp-flex-direction-column;
}

.cp-article__header-contain {
  @include dp-flex-direction-column;
}

.cp-article__contain {
  @include default-contain;
  max-width: var(--contain-target-width-small);

  .cp-article__contain {
    padding: 0;
  }
}

.cp-article__title {
  margin-block-start: 0;
  margin-block-end: var(--size-24);
}

.cp-article__subtitle {
  margin-block-end: var(--size-24);
  font-size: var(--fs-subtitle);
}

.cp-article__categories {
  @include reset-list;
  display: flex;
  align-items: center;
  order: -1;
  color: var(--text-on-canvas-subdued-20);
}

.cp-article__categories-link {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-body);
  &:hover {
    color: var(--interactive-enabled);
  }
}

.cp-article__meta {
  @include reset-list;
  
  display: flex;
  align-items: center;
  gap: var(--size-32);
  font-size: var(--fs-body);
}

.cp-article__img {
  border-radius: var(--bd-radius-largest);
  overflow: hidden;
}

.cp-article__content {
 a {
  border-bottom: 2px solid var(--interactive-enabled);
  padding: 0 2.5px;
  text-decoration: none;

  &:hover {
    background-color: var(--interactive-enabled);
    color: var(--text-on-interactive);
  }
 }

 .cp-button {
  padding: var(--size-8) var(--size-24);
 }
}

.cp-article__context-title {
  color: var(--primary-focused);
  font-size: var(--fs-subtitle);
  text-transform: uppercase;
}


// Modifiers
.cp-article__contain--small {
  max-width: var(--contain-target-width-article);
}

.cp-article__contain--align-left {
  margin-inline-start: 0;
}


// MQs
@include respond(tablet-l) {
  .cp-article__title {
    font-size: var(--fs-lead-heading-small);
  }

} // 900px


@include respond(laptop) {
  .cp-article {
    margin-block-start: calc(2 * var(--size-48));
    margin-block-end: calc(2 * var(--size-48));
  }

  .cp-article__title {
    font-size: var(--fs-lead-heading);
  }

  .cp-article__subtitle {
    font-size: var(--fs-heading-4);
  }
}   // 1240px


@include respond(desktop) {
  .cp-article {
    font-size: var(--fs-subtitle);
  }

  .cp-article__contain--small {
    max-width: var(--contain-target-width-article-large);
  }
  
}  // 1440px