// Block
.ob-grid {
  @include reset-list;
  display: grid;
  gap: var(--gutter-small);
}

  // Modifers
  .ob-grid--gutter-large {
    gap: var(--gutter-large);
  }



// MQs
@include respond(tablet-tiny) {
  .ob-grid--align-center {
    align-items: center;
  }

  .ob-grid--auto-small {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }
}

@include respond(tablet-medium) {
  .ob-grid--half {
    grid-template-columns: 1fr 1fr;
  }

  .ob-grid--auto {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@include respond(tablet-large) {
  .ob-grid--auto {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}

@include respond(laptop-medium) {
  .ob-grid--layout-columns {
    display: block;
    column-gap: var(--gutter-small);
    columns: var(--contain-small);
    
    > * {
      break-inside: avoid;

      &:not(:last-child) {
        margin-block-end: var(--gutter-small);
      }
    }
  }
}