// Block
.ob-pageless {
  display: flex;
  flex-direction: column;
  align-items: center;

  > *:not(.ob-pageless__item) {
    min-width: 100%;
  }
}



// MQs
@include respond(laptop-large) {

  .ob-pageless__item {
    &.wide {
     img {
        width: var(--page-medium);
        max-width: var(--page-medium);
      }
    }
  
    &.full {
      img {
        width: 100vw;
        max-width: 100vw;
       }
     }
  }
}