// Block
.ob-contain {
  padding-inline: var(--size-extra-small);
  .ob-contain {
    padding: 0;    
  }
}



// Modifiers
.ob-contain {

  &--page { 
    margin-inline: auto;
    max-inline-size: var(--contain-mega);
   } // 1440

  &--extra-small { 
    max-inline-size: var(--contain-extra-small);
  } // 600

  &--small { 
    max-inline-size: var(--contain-small);
  } // 768

  &--medium { 
    max-inline-size: var(--contain-medium);
  } // 900

  &--large { 
    max-inline-size: var(--contain-large);
  } // 1024

  &--extra-large {
    max-inline-size: var(--contain-extra-large);
  } // 1240

  &--extra-mega { 
    max-inline-size: var(--contain-extra-mega);
  }  // 1600
  
  &--giga { 
    max-inline-size: var(--contain-giga);
  }  // 1920

  &--centered {
    margin-inline: auto;
  }
}



// MQs
@include respond(tablet-tiny) {
  .ob-contain--responsive {
    padding-inline: var(--size-extra-large);
  }
}

@include respond(laptop-small) {
  .ob-contain--responsive {
    padding-inline: var(--size-extra-small);
  }
}