@mixin con-consistent-color {
  --white: var(--ref-white);
  --white-light: var(--ref-neutral-20);

  --black: var(--ref-black);
  --black-light: var(--ref-neutral-80);

  --selection-canvas: var(--ref-primary-60);
  --selection-surface: var(--ref-neutral-90);
}


@mixin con-color-transparent {
  --transparent-neutral-medium: rgba(0, 0, 0, 0.5);
}


@mixin con-color-notification {
  // States/Notifications //TODO: update these to ref variables
  --success: #1f7b5c;
  --success-lighter: #b5e0d3;
  --success-lightest: #e1f2ee;
  --warning: #b38416;
  --warning-lighter: #e0b774;
  --warning-lightest: #f7eedd;
  --info: #00a0ab;
  --info-lighter: #94c4cc;
  --info-lightest: #e1f8fa;
  --error: #d63312;
  --error-lighter: #f95446;
  --error-lightest: #fbe8e7;
}



@mixin con-light-canvas {
  --canvas: var(--ref-white);
  --canvas-fadest: var(--ref-neutral-5);
  --canvas-fader: var(--ref-neutral-10);
  --canvas-fade: var(--ref-neutral-20);
  
  --surface: var(--ref-neutral-90);
  --surface-fade: var(--ref-neutral-80);
  --surface-fader: var(--ref-neutral-70);

  --code-canvas: var(--ref-neutral-30);
  --code-surface: var(--ref-black);

  --outline-darkest: var(--ref-neutral-70);
  --outline-darker: var(--ref-neutral-50);
  --outline-dark: var(--ref-neutral-40);
  --outline: var(--ref-neutral-30);
  --outline-light: var(--ref-neutral-20);

  --primary-enabled: var(--ref-primary-70);
  --primary-hovered: var(--ref-primary-80);
  --primary-focused: var(--ref-primary-90);
  --primary-enabled-surface: var(--ref-black);
  --secondary-enabled-surface: var(--primary-enabled);

  --link-enabled-surface: var(--ref-secondary-70);
  --link-hovered-surface: var(--ref-secondary-80);
  --link-focused-surface: var(--ref-secondary-90);
  --article-link-hovered-surface: var(--ref-neutral-5);
  --article-link-hovered-canvas: var(--ref-secondary-70);

  --interactive-enabled: var(--ref-primary-80);
  --interactive-hovered: var(--ref-primary-80);
  --interactive-focused: var(--ref-primary-90);

  // Misc
  accent-color: var(--interactive-enabled);
}

@mixin con-dark-canvas {

  
  // Misc
  accent-color: var(--interactive-enabled);
}



