@mixin con-dimension {
  // Dimensions describe the width and height of component elements.
  --icon-small: var(--ref-size-20);
  --icon-medium: var(--ref-size-24);
  --icon-large: var(--ref-size-40);
  --icon-extra-large: var(--ref-size-48);

  --avatar-small: var(--ref-size-48);
  --avatar-medium: var(--ref-size-64);
  --avatar-large: var(--ref-size-128);
  --avatar-extra-large: var(--ref-size-216);

  --shape-extra-small: var(--ref-size-32);
  --shape-small: var(--ref-size-40);
  --shape-medium: var(--ref-size-48);
  
  // containers for enclosed things such as quotes etc
  --contain-tiny: var(--ref-size-216);
  --contain-extra-small: var(--ref-size-320);
  --contain-small: var(--ref-size-425);
  --contain-medium: var(--ref-size-600);
  --contain-large: var(--ref-size-768);
  --contain-extra-large: var(--ref-size-1024);

  --page-journal: var(--ref-size-900);
  --page-extra-small: var(--ref-size-1024);
  --page-small: var(--ref-size-1240);
  --page-medium: var(--ref-size-1440);
  --page-large: var(--ref-size-1600);
  --page-extra-large: var(--ref-size-1920);
  --page-maximum: var(--ref-size-2560);

  // Navbar
  --navbar-height: var(--ref-size-96);
}