@mixin con-dimension {
  --contain-size-wrapper: var(--ref-size-2560);
  --contain-size-default: var(--ref-size-1440);
  --contain-size-tiny: var(--ref-size-425);
  --contain-size-small: var(--ref-size-600);
  --contain-size-medium-small: var(--ref-size-768);
  --contain-size-medium: var(--ref-size-900);
  --contain-size-large: var(--ref-size-1024);
  --contain-size-larger: var(--ref-size-1240);
  --contain-size-largest: var(--ref-size-1600);
  --contain-size-huge: var(--ref-size-1920);
  --contain-size-full: var(--ref-size-100-percent);
}