@mixin con-shape {
  --shape-rounded-nano: var(--ref-size-2);  
  --shape-rounded-tiny: var(--ref-size-4);  
  --shape-rounded-small: var(--ref-size-8);  
  --shape-rounded-medium:var(--ref-size-16);  
  --shape-rounded-large:var(--ref-size-28); 
  --shape-rounded-larger: var(--ref-size-64);  
  --shape-rounded-full: var(--ref-size-100-percent);
}