@mixin con-typography {
  --typeface-primary: metropolis, "Helvetica Neue", "Segoe UI", ubuntu, system-ui, -apple-system, sans-serif;
  --typeface-secondary: georgia, times, serif;
  --typeface-code: "Fira Code", "Courier New", courier, monospace;

  --typescale-label-text-small: var(--ref-size-8);
  --typescale-label-text-medium: var(--ref-size-12);
  --typescale-label-text-large: var(--ref-size-14);

  --typescale-base-text-small: var(--ref-size-16);
  --typescale-base-text-medium: var(--ref-size-18);
  --typescale-base-text-large: var(--ref-size-20);

  --typescale-title-text-small: var(--ref-size-20);
  --typescale-title-text-medium: var(--ref-size-24);
  --typescale-title-text-large: var(--ref-size-26);

  --typescale-headline-text-tiny: var(--ref-size-28);
  --typescale-headline-text-small: var(--ref-size-36);
  --typescale-headline-text-medium: var(--ref-size-44);
  --typescale-headline-text-large: var(--ref-size-52);

  --typescale-display-text-small: var(--ref-size-40);
  --typescale-display-text-medium: var(--ref-size-52);
  --typescale-display-text-large: var(--ref-size-72);

  --typeweight-100: 100;
  --typeweight-200: 200;
  --typeweight-300: 300;
  --typeweight-400: 400;
  --typeweight-500: 500;
  --typeweight-600: 600;
  --typeweight-700: 700;
  --typeweight-800: 800;

  --leading-nano: 1;
  --leading-tiny: 1.125;
  --leading-small: 1.25;
  --leading-medium: 1.35;
  --leading-large: 1.5;
  --leading-lager: 1.625;
  --leading-largest: 1.75;
}