@mixin elements {
  --contain-target-width-small: 64rem;    // 1024px
  --contain-target-width-medium: 77.5rem;    // 1240px
  --contain-target-width: 90rem;            // 1440px
  --contain-target-width-large: 100rem;     // 1600px
  --contain-target-width-article: 48rem;
  --contain-target-width-article-large: 900px;

  // SHADOWS
  --elevation-border-light: 0 0 0 1px var(--neutral-200);
  --elevation-border-lighter: 0 0 0 1px var(--neutral-100);
  --elevation-border-lightest: 0 0 0 1px var(--neutral-50);

  --elevation: 0 1px 4px 0 hsla(220, 12%, 5%, 0.102);
  --elevation-medium: 0 3px 13px 0 hsla(218, 13%, 5%, 0.08);
  --elevation-large: 0 10px 15px -8px hsla(218, 13%, 5%, 0.35);
  --elevation-hover: 0 0 0 5px hsla(0, 0%, 88%, 0.7);

  // Border radius widths
  --bd-radius-nano: 2px;
  --bd-radius-tiny: 4px;
  --bd-radius-small: 8px;
  --bd-radius-medium: 28px;
  --bd-radius-largest: 56px;
  --bd-radius-circle: 100%;

  // selections
  --selection: var(--primary-hovered);
  --selection-text: var(--white);
}
