@mixin z-index {
  --layer-surface: 60;
  --layer-overlay-content: 50;
  --layer-overlay: 40;
  --layer-front: 30;
  --layer-forward: 20;
  --layer-back: 10;
  --layer-backward: 0;
  --layer-under: -1;
}
