// Block
.ob-contain {
  padding-inline-start: var(--gutter-extra-small);
  padding-inline-end: var(--gutter-extra-small);

  .ob-contain {
    padding: 0;    
  }
}

.ob-contain-page { 
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-width: var(--contain-medium);
 } // 1440



// Modifiers
.ob-contain--owl {
  @include owl(--gutter-small);
}


// States 
.ob-contain-page {
  &.minimum { max-width: var(--contain-minimum); } // 600
  &.extra-tiny { max-width: var(--contain-extra-tiny); } // 768
  &.tiny { max-width: var(--contain-tiny); } // 900
  &.extra-small { max-width: var(--contain-extra-small); } // 1024
  &.small { max-width: var(--contain-small); } // 1240
  &.large { max-width: var(--contain-large); }  // 1600
  &.extra-large { max-width: var(--contain-extra-large); }  // 1920
}


 

// MQs
@include respond(tablet-tiny) {
  .ob-contain {
    padding-inline-start: var(--gutter-extra-large);
    padding-inline-end: var(--gutter-extra-large);
  }
}

@include respond(laptop-small) {
  .ob-contain {
    padding-inline-start: var(--gutter-extra-small);
    padding-inline-end: var(--gutter-extra-small);
  }

  .ob-contain--owl {
    @include owl(--gutter-large);
  }
}