// Block
.ob-media {
  @include dp-flex-wrap-gap(--gutter-tiny);
  align-items: center;
}


// Elements
.ob-media__body {
  @include owl(--spacing-tiny);
  flex: 1;
}

.ob-media__figure {
  order: -1;
}

.ob-media__title {
  font-size: var(--typescale-title-small);
  line-height: var(--leading-small);
}


// Modifiers
.ob-media--stack {
  flex-direction: column;
  gap: var(--gutter-small);
}

.ob-media--responsive {
  flex-direction: column;
  align-items: start;
  gap: var(--gutter-small);
}


// States 
.ob-media {
  &.large {
    gap: var(--gutter-medium);
  }

  &.align-top {
    align-items: start;
  }
}



// MQs
@include respond(tablet-tiny) {
  .ob-media--responsive {
    flex-direction: row;
  }
}