.cp-banner {
  
}

.cp-banner__contain {
  @include default-contain;  
  padding-block-end: var(--size-48);
  padding-block-start: var(--size-48);
}

.cp-banner__subtitle {
  font-size: var(--fs-subtitle);
}

.cp-banner__media {

}



// Modifiers
.cp-banner__contain--grid {
  display: grid;
  gap: var(--size-48);
}



// MQs
@include respond(tablet-l) {
  .cp-banner__contain--grid {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: calc(2 * var(--size-48));
  }
} // 900px

@include respond(tablet-l) {
  .cp-banner__contain {
    padding-block-end: calc(2 * var(--size-48));
    padding-block-start: calc(2 * var(--size-48));
  }
}   // 1240px
