.cp-cover {
  @include pos-rel-overflow-hidden;
  @include dp-flex-direction-column;
  background-color: var(--canvas-subdued);
  padding: var(--size-32) var(--size-16);
  color: var(--thurab-50);
}



.cp-cover__text {
  @include dp-flex-direction-column;
  @include pos-rel-object-on-top;
  max-width: var(--contain-width-medium);
  padding: var(--size-64) var(--size-16);
  border: 1px solid var(--border-color-subdued);
  border-radius: var(--bd-radius-tiny);
}

.cp-cover__title {
  color: var(--white);
}

.cp-cover__date {
  display: block;
  text-transform: uppercase;
}

.cp-cover__tag {
  display: block;
  order: -1;
  margin-top: 0;
  margin-bottom: var(--size-64);
  font-size: var(--font-size-caption);
  text-transform: uppercase;

  &::before {
    content: "#";
  }
}

.cp-cover__button {
  margin-top: var(--size-24);
  align-self: flex-start;
}

.cp-cover__figure {
  @include pos-abs-zero-all-sides;

  &::before {
    @include pos-abs-zero-all-sides-pseudo-class;
    background-color: var(--tp-black-medium);
  }
}

.cp-cover__picture {
  @include fit-media-into-container;
}

.cp-cover__img {
  @include fit-media-into-container;
}





// Modifiers 
.cp-cover--zoomable {
  .cp-cover__img {
    @include fit-media-into-container;
    transition: transform 0.3s ease-in;
    transform: scale(1);
  }
  
  &:hover  {
    .cp-cover__img {
      transform: scale(1.07);
    }
  }
}

.cp-cover__text--at-center {
  margin: auto;
}

.cp-cover__text--at-left-center {
  margin-top: auto;
  margin-bottom: auto;
}

.cp-cover__text--at-bottom {
  margin-top: auto;
}






// MQs
@include respond(laptop) {

  .cp-cover {
    min-height: 600px;
  }

  .cp-cover__text{
    max-width: var(--container-width-large);
    padding: var(--size-64);
  }

}   // 1240px