.cp-cover {
  @include dp-flex;
  @include dp-flex-direction-column;
  padding: var(--vr-large) 0;
  position: relative;
  background-color: var(--canvas-background-color-darker);
  color: var(--canvas-text-color);
}

// Elements
.cp-cover__text {
  @include dp-flex-direction-column;
  @include pos-rel-object-forward;
  @include owl(--spacing-default);

  margin-top: auto;
  margin-bottom: auto;
  padding: var(--spacing-medium);  

  & :last-child {
    margin-block-start: var(--spacing-medium);
  }
}



.cp-cover__picture {
  @include fit-media-into-container;
}

.cp-cover__img {
  @include fit-media-into-container;
}



// MQs
@include respond(tablet-large) {
  .cp-cover__text {
    padding: var(--spacing-large);
  } 
}

@include respond(laptop-small) {
  .cp-cover {
    --vr-figures: var(--spacing-huge);
  }
}