// Variants
.cp-button--brand {
    
    background-color: var(--color-background-brand);
    color: var(--color-text-inverse);

    svg {
        fill: var(--color-fill-icon-inverse);
    }

    &:hover { // holding the mouse pointer over the item
        background-color: var(--color-background-brand-hovered);
        color: var(--color-text-inverse);
    }

    &:active { // when the item is clicked on
        background-color: var(--color-background-brand-hovered);
        color: var(--color-text-inverse);
    }

    &:focus { //  element has focus
        background-color: var(--color-background-brand-pressed);
        color: var(--color-text-inverse);
        box-shadow: 0 0 0 2px var(--color-border-focused);
        outline: none;
    }
}



// Variant
.cp-button--outline {

    border-color: var(--color-background-brand);
    color: var(--color-text-brand);

    svg {
        fill: var(--color-fill-icon-brand);
    }

    &:hover { // holding the mouse pointer over the item
        background-color: var(--color-background-brand-hovered);
        border-color: var(--color-background-brand-hovered);
        color: var(--color-text-inverse);

        svg {
            fill: var(--color-fill-icon-inverse);
        }
    }

    &:active { // when the item is clicked on
        background-color: var(--color-background-brand-hovered);
        border-color: var(--color-background-brand-hovered);
        color: var(--color-text-inverse);

        svg {
            fill: var(--color-fill-icon-inverse);
        }
    }

    &:focus { //  element has focus
      background-color: var(--color-background-brand-pressed);
      border-color: var(--color-background-brand-pressed);
      box-shadow: 0 0 0 2px var(--color-border-focused);
      color: var(--color-text-inverse);
      outline: none;

        svg {
            fill: var(--color-fill-icon-inverse);
        }
    }
}


.cp-button--neutral {
    
    background-color: var(--color-background-neutral);
    color: var(--color-text-brand);

    svg {
        fill: var(--color-fill-icon-brand);
    }

    &:hover { // holding the mouse pointer over the item
        background-color: var(--color-background-neutral-hovered);
        color: var(--color-text-brand);
    }

    &:active { // when the item is clicked on
        background-color: var(--color-background-neutral-hovered);
        color: var(--color-text-brand);
    }

    &:focus { //  element has focus
        background-color: var(--color-background-neutral-pressed);
        color: var(--color-text-brand);
        box-shadow: 0 0 0 2px var(--color-border-focused);
        outline: none;
    }
}