// Block
.cp-button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// Elements
.cp-button-group__link {
  @include box(--size-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0;
}

.cp-button-group__icon {
  @include box(--size-extra-small);
  fill: var(--surface-lighter);

  &:hover {
    fill: var(--link-hovered-surface);
  }
}


