@mixin con-dark-canvas {
  --canvas-background-color: var(--ref-dark-scheme-90);
  --canvas-text-color: var(--ref-neutral-5);

  --selection-background-color: var(--ref-primary-60);
  --selection-text-color: var(--ref-neutral-90);

  --code-background-color: var(--canvas-background-color-v4);

  --border-color: var(--ref-dark-scheme-50);

  --icon-color: var(--ref-neutral-40);
  --icon-color-hovered: var(--ref-neutral-30);

  --headline-text-color: var(--ref-white);

  --primary-enabled: var(--ref-primary-60);
  --primary-hovered: var(--ref-primary-70);
  --primary-focused: var(--ref-primary-80);
  --primary-enabled-text-color: var(--ref-black);

  --link-text-color-enabled: var(--ref-secondary-20);
  --link-text-color-hovered: var(--ref-secondary-40);
  --link-text-color-focused: var(--ref-secondary-50);
  --article-link-text-color-hovered: var(--ref-neutral-5);
  --article-link-background-color-hovered: var(--ref-secondary-70);

  --interactive-enabled: var(--ref-primary-70);
  --interactive-focused: var(--ref-primary-80);

  // Variants
  --canvas-background-color-v1: var(--ref-dark-scheme-80);
  --canvas-background-color-v2: var(--ref-dark-scheme-70);
  --canvas-background-color-v3: var(--ref-dark-scheme-60);
  --canvas-background-color-v4: var(--ref-dark-scheme-50);
  --canvas-text-color-v1: var(--ref-neutral-30);
  --canvas-text-color-v2: var(--ref-neutral-40);


  --border-color-v1: var(--ref-dark-scheme-70);
  

  // States/Notifications //TODO: update these to ref variables
  --success: #1f7b5c;
  --success-lighter: #b5e0d3;
  --success-lightest: #e1f2ee;
  --warning: #b38416;
  --warning-lighter: #e0b774;
  --warning-lightest: #f7eedd;
  --info: #00a0ab;
  --info-lighter: #94c4cc;
  --info-lightest: #e1f8fa;
  --error: #d63312;
  --error-lighter: #f95446;
  --error-lightest: #fbe8e7;

  // Misc
  accent-color: var(--interactive-enabled);
}