.cp-fullscreen-navigation {
  z-index: var(--layer-under);
  background-color: var(--primary-enabled);
  color: var(--text-on-primary-enabled);
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: opacity 0.2s ease;
}

.cp-fullscreen-nav {
  display: flex;
  flex-direction: column;
  gap: var(--size-40);
  text-align: center;
}

// Elements
.cp-fullscreen-nav__list {
  @include reset-list;
}

.cp-fullscreen-nav__link {
  display: block;
  padding: var(--size-12) var(--size-16);
  color: inherit;
  font-size: var(--fs-subtitle-large);
  text-decoration: none;
}

// Modifiers
.cp-fullscreen-nav__list--alt {
  .cp-fullscreen-nav__link {
    padding: var(--size-8) var(--size-16);
    font-size: var(--fs-subtitle);
  }
}

// States
.is-open {
  z-index: var(--layer-surface);
  display: block;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

// MQs
@include respond(tablet) {
  .cp-fullscreen-nav {
    flex-direction: row;
    align-items: center;
    gap: var(--size-72);
    text-align: left;
  }
} // 600px
