// Block
.cp-primary-nav {
  display: none;
}



// Elements
.cp-primary-nav__list {
  @include reset-list;
  @include dp-flex-gap(--spacing-default);
  @include dp-flex-center-align;
}

.cp-primary-nav__link {
  display: block;
  padding: var(--spacing-small);
  color: inherit;
  font-size: var(--typescale-base-text-medium);
  text-decoration: none;

  &:hover {
    color: var(--primary-hovered);
  }
}

.cp-primary-nav__link--button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}