.cp-primary-nav {
  display: none;
}

.cp-primary-nav__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cp-primary-nav__link {
  display: block;
  padding: var(--size-12) var(--size-16);
  color: inherit;
  font-size: var(--fs-body);
  text-decoration: none;

  &:hover {
    color: var(--interactive-enabled);
  }
}

.cp-primary-nav__link--button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
