// Block
.cp-primary-nav {
  display: none;
}


// Elements
.cp-primary-nav__list {
  @include reset-list;
  display: flex;
  align-items: center;
}

.cp-primary-nav__link {
  display: block;
  padding: var(--spacing-medium) var(--spacing-small);
  color: inherit;
  font-size: var(--typescale-body-large);
  text-decoration: none;

  &:hover {
    color: var(--primary-hovered);
  }
}

.cp-primary-nav__link--button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}