// Block
.cp-priamry-nav {
    display: grid;
}

// Variants
.cp-priamry-nav--mobile {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


// Elements
.cp-priamry-nav__link {
    @include  dp-center-block;
    @include reset-link;
    padding: var(--space-12, 0.5rem);
}

// Elements Variants
.cp-priamry-nav__link--active {
    color: red;

    svg {
        fill: red;
    }
}


// MQs
@include respond-to('tablet') {
    .cp-priamry-nav--mobile {
       display: none;
    }
    
}