---
title:  Full-screen nav
layout: page-system-entry
order: 2
type: navigation


description: |

---

<div class="cp-fullscreen-navigation ob-off-canvas-nav js-fullscreen-navigation" role="navigation" aria-label="Fullscreen Navigation" hidden>
  <div class="ob-off-canvas-nav__contain">

    <div class="ob-off-canvas-nav__header">
      <a class="cp-logo" href="/">
        <div class="cp-logo__contain">
          <span class="cp-logo__item">A</span>
          <span class="cp-logo__item">C</span>
          <span class="cp-logo__item">a</span>
          <span class="cp-logo__item">m</span>
          <span class="cp-logo__item">a</span>
          <span class="cp-logo__item">r</span>
          <span class="cp-logo__item">i</span>
          <span class="cp-logo__item">a</span>
          <span class="cp-logo__item">n</span>
          <span class="cp-logo__item">a</span>
        </div>
      </a>
      <button class="cp-toggle-nav-icon cp-toggle-nav-icon--alt cp-toggle-nav-icon--close js-close-nav">
        <span class="cp-toggle-nav-icon__text">Close</span>
        <div class="cp-toggle-nav-icon__icons">
          <i class="cp-toggle-nav-icon__icon">&nbsp;</i>
          <i class="cp-toggle-nav-icon__icon">&nbsp;</i>
        </div>
      </button>
    </div>

    <div class="ob-off-canvas-nav__main">
      <nav class="cp-fullscreen-nav">
          <ul class="cp-fullscreen-nav__list">
              {% for item in site.data.navigation.primary %}
                {% assign url = item.url | downcase %}
                <li>
                  <a href="{{ url }}" class="cp-fullscreen-nav__link">{{ item.title }}</a>
                </li>
              {% endfor %}
          </ul>
          <ul class="cp-fullscreen-nav__list cp-fullscreen-nav__list--alt">
            {% for item in site.data.navigation.secondary %}
              {% assign url = item.url | downcase %}
              <li>
                <a href="{{ url }}" class="cp-fullscreen-nav__link">{{ item.title }}</a>
              </li>
            {% endfor %}
        </ul>
        <ul class="cp-fullscreen-nav__list cp-fullscreen-nav__list--alt">
          {% for item in site.data.navigation.tertiary %}
            {% assign url = item.url | downcase %}
            <li>
              <a href="{{ url }}" class="cp-fullscreen-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
      </ul>
      </nav>
    </div>
    
    
    <div class="ob-off-canvas-nav__footer">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed assumenda provident voluptatibus ex quaerat, consequatur blanditiis, neque error perspiciatis nam aliquam temporibus dolores, porro vitae? Tempora facere magni quibusdam ipsum.
      </p>
    </div>


  </div>
</div>