// Block
.cp-card {
    @include dp-column;        
    border: 2px solid transparent;

    // TODO: export to own mixin
    transition: all 0.2s ease-in;
}





// Variants
.cp-card--rounded {
    border-radius: var(--space-8, 0.25rem);
    overflow: hidden;
}


.cp-card--product {
    border-radius: var(--space-8, 0.25rem);
    overflow: hidden;

    .cp-card__text {
        position: relative;
        padding: var(--space-32) var(--space-12) var(--space-12); 
        background-color: var(--color-background);
    }

    .cp-card__media {
        padding: var(--space-16) var(--space-12) var(--space-32);
        background-color: var(--color-background-brand-subtlest);
    }

    .cp-card__foot {
        padding: var(--space-8) var(--space-12);
        background-color: var(--color-background);
    }

    .cp-card__button {
       position: absolute;
       inset-block-start: calc(var(--space-32) * -1);
       inset-inline-start: 50%;
       transform: translateX(-50%);
    }
}





// Elements
.cp-card__text {    
    @include dp-column-grow;
    @include owl(--space-16);
}

.cp-card__title {
    @include font-size-body-mobile;
}

.cp-card__description {
    @include font-size-label-mobile;
}

.cp-card__button {
    align-self: start;
}



.cp-card__media {
    @include dp-center;
    order: -1;
}


.cp-card__foot {
    margin-block-start: auto;
}









// MQs
@include respond-to('desktop-medium') {
    .cp-card__title {
        @include font-size-body-desktop;
    }

    .cp-card__description {
        @include font-size-label-desktop;
    }
}