// Block
.cp-cards  {
    @include reset-list;
    display: grid;
}



// Variants
.cp-cards--product  {
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    gap: var(--space-16)
}





// MQs
@include respond-to('tablet') {
    .cp-cards--product  {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }
}

@include respond-to('desktop-medium') {
     .cp-cards--product  {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }
}






// Other Variants or UIs
@import './card';