.pt-alternate-cards {
  @include reset-list;
}

.pt-alternate-card {
  @include dp-flex-direction-column;
}

// Elements
.pt-alternate-card__text-wrapper {
  @include dp-flex-direction-column;

  flex-grow: 1;
}

.pt-alternate-card__text {
  @include dp-flex-direction-column;

  position: relative;
  flex-grow: 1;
  flex-grow: unset;
  padding: var(--size-24);
  margin-block-end: auto;
  margin-block-start: auto;

  > * + * {
    margin-block-start: var(--size-24);
  }

  & > :last-child {
    margin-top: auto;
  }

  & > :nth-last-child(2) {
    margin-block-end: var(--size-48);
  }
}

.pt-alternate-card__title {
  margin-block-start: 0;

  > a {
    color: inherit;
    text-decoration: none;

    &::after {
      @include pos-abs-zero-all-sides-pseudo-class;
    }

    &:focus {
      color: var(--primary);
    }
  }
}

.pt-alternate-card__tag {
  order: -1;
  margin-block-end: var(--size-16);
  font-size: var(--fs-body-small);
}

.pt-alternate-card__button {
  align-self: flex-start;
}

.pt-alternate-card__figure {
  overflow: hidden;
}

.pt-alternate-card__img {
  @include fit-media-into-container;
  @include trans-and-scale;

  &:hover {
    @include scale-out-on-hover-and-focus;
  }
}

// MQs
@include respond(tablet-l) {
  .pt-alternate-card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:nth-child(even) > .pt-alternate-card__figure {
      order: -1;
    }
  }
}   // 900px

@include respond(laptop) {
  .pt-alternate-card__text {
    max-width: 45ch;
  }
}   // 1240px

@include respond(laptop-l) {
  .pt-alternate-card__text {
    margin: auto;
  }
}   // 1440px
