.pt-alternate-cards {
  @include reset-list;
}



.pt-alternate-card {
  @include dp-flex-direction-column;
  position: relative;
}




.pt-alternate-cards-list  {
  display: grid;
  gap: var(--size-16);
}





// Elements
.pt-alternate-card__text-wrapper {
  @include dp-flex-direction-column;
  flex-grow: 1;
  background-color: var(--white);


  outline: 1px solid red;
}

.pt-alternate-card__text {
  position: relative;
  flex-grow: unset;
  padding: var(--size-24);
  margin-top: auto;
  margin-bottom: auto;

  & > :last-child {
    margin-top: auto;
  }

  & > :nth-last-child(2) {
    margin-bottom: var(--size-48);
  }
}

.pt-alternate-card__title {
  margin-top: 0;
  > a {
    text-decoration: none;
    color: inherit;

    &::after {
      @include pos-abs-zero-all-sides-pseudo-class;
    }

    &:focus {
      color: var(--primary);
    }
  }  
}

.pt-alternate-cards__list {
  @include reset-list;
  margin-top: var(--size-32);
}

.pt-alternate-card__button {
  @include pos-rel-object-on-top;
  align-self: flex-start;
}

.pt-alternate-card__figure {
  overflow: hidden;
}

.pt-alternate-card__img {
  @include fit-media-into-container;
  @include trans-and-scale;

  &:hover {
    @include scale-out-on-hover-and-focus;
  }
}






// MQs
@include respond(tablet) {
  .pt-alternate-cards-list  {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}     // 600px



@include respond(tablet-l) {

  .pt-alternate-card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:nth-child(even) > .pt-alternate-card__figure {
      order: -1;
    }
  }



  // Elements
  .pt-alternate-card__text-wrapper {
    @include dp-flex-direction-column;
    flex-grow: 1;
    background-color: var(--white);
  }
 
}   // 900px



@include respond(laptop) {

  .pt-alternate-card__text {
    max-width: 65ch;
  }  

}   // 1240px



@include respond(laptop-l) {
  .pt-alternate-card__text {
    margin: auto;
  }
}   // 1440px