.pt-case {

}

.pt-case__header {
  display: flex;
  flex-direction: column;
}

.pt-case__description {
  font-size: var(--font-size-body-large);
}

.pt-case__tag {
  order: -1;
  margin-bottom: var(--spacing-nano);   
}

.pt-case__context-title {
  margin-bottom: var(--spacing-medium);
  color: var(--primary);
  text-transform: uppercase;
  font-size: var(--font-size-body-large);
}


.pt-case__table {
  margin: 0;
  background-color: var(--primary-lightest);
}

.pt-case__table-head {
  th {
    border-bottom: 2px solid var(--primary-light);
    padding: var(--spacing-small) var(--spacing-tiny);
  }
} 

.pt-case__table-body {
  tr {
    border-top: 1px solid var(--primary-lighter);                
  }
  td {
    padding: var(--spacing-tiny) var(--spacing-tiny);
  }
}

.pt-case__table-highlight {
  background-color: var(--primary-lighter);
}




// MQs
@include respond(desktop) {
  .pt-case__title {
    font-size: var(--font-size-title-largest);
    line-height: var(--leading-small);
  }
}  // 1440px