.full-screen-nav {
  @include pos-fix-zero-all-sides;
  background-color: var(--black);
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  z-index: var(--layer-under);
}



// Elements
.full-screen-nav__contain {
  display: flex;
  flex-direction: column;
  max-width: var(--contain-width-larger);
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

.full-screen-nav__header {
  padding: var(--spacing-unit-medium);
}

.full-screen-nav__main {
  margin-top: auto;
  margin-bottom: auto;
}

.full-screen-nav__footer {
  padding: var(--spacing-unit-medium);
}



// Modifiers



// States
.full-screen-nav.is-open {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  z-index: var(--layer-surface);
}
