// Block
.cp-figure {
  position: relative;
}



// Elements
.cp-figure__img {
  @include fit-media-into-container;
  @include trans-and-scale;
  @include pos-rel-object-forward;   

  &:hover {
    @include scale-out-on-hover-and-focus;
  }
}


// Modifiers
.cp-figure--bordered {
  border: 8px solid var(--canvas-fade);
  border-radius: var(--rounded-large);
  overflow: hidden;
}

.cp-figure--pattern {

  .cp-figure__img {
    padding: 0 0 var(--spacing-medium) var(--spacing-medium);
  }

  &::before,
  &::after {
    @include pseudo-class;
    position: absolute;
  }

  &.at-backward {
    &::before {
      top: 40px;
      right: 40px;
      bottom: 0;
      left: 0;
    }

    &::after {
      top: 48px;
      right: 48px;
      left: 8px;
      bottom: 8px;
    }
  }

  &.is-bordered-dotted {
    &::before,
    &::after {
      border: 3px dotted var(--outline-darker);
    }
  }
}
  


