ul,
ol {
  margin-inline-start: var(--size-tiny);
  padding-inline-start: var(--size-tiny);
}

ul ul,
ol ol {
  margin-block-start: 0;
}

dt {
  font-weight: 600;
}

::marker {
  color: var(--interactive-focused);
}