a {
  background-color: transparent;
  color: var(--link-enabled-surface);
  text-decoration: underline;
  font-weight: 500;

  &:hover {
    text-decoration: none;
    color: var(--link-hovered-surface);   
  }
}