fieldset {
  inline-size: 100%;
  border: 0;
}

legend {
  display: table;
  max-inline-size: 100%;
  box-sizing: border-box;
  margin-block-end: var(--size-extra-small);
  color: inherit;
  line-height: var(--leading-tiny);
  white-space: normal;
}

label {
  display: inline-block;
  cursor: pointer;
  font-size: var(--font-size-body);
  line-height: var(--leading-base);

  + input,
  + select,
  + textarea {
    margin-block-start: var(--size-extra-nano);
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

input,
select,
textarea {
  inline-size: 100%;
  padding-block: var(--size-tiny);
  padding-inline: var(--size-extra-tiny);
  border: 2px solid var(--stroke-darkest);
  background-color: var(--white);
  border-radius: var(--rounded-tiny);
  color: var(--black);
  font-weight: 600;
  transition-duration: 150ms;
  transition-property: border-color;

  &:hover {
    border-color: var(--interactive-hovered);
  }

  &:focus {
    border-color: var(--interactive-focused);
    box-shadow: 0 0 0 2px var(--interactive-focused);
    outline: none;
  }

  &:disabled {
    border-color: var(--stroke);
    background-color: var(--stroke);
    cursor: not-allowed;
    color: var(--surface-lighter)
  }
}

select {
  background-color: inherit;
  cursor: pointer;
  touch-action: manipulation;
}

textarea {
  overflow: auto;
  min-block-size: 10rem;
}

progress {
  vertical-align: baseline;
}

// Radio and Checkbox
[type="button"],
[type="reset"],
[type="checkbox"],
[type="radio"],
[type="submit"] {
  inline-size: auto;
  block-size: auto;
  min-block-size: auto;
}

[type="button"],
[type="reset"],
[type="submit"] {
  &:hover {
    border-color: transparent;
  }

  &:focus {
    border-color: transparent;
    box-shadow: unset;
  } 
}

[type="file"],
[type="range"] {
  border-width: 2.5px;
  border-style: dashed;
  cursor: pointer;
  touch-action: manipulation;
}

:is(
::-webkit-calendar-picker-indicator,
::-webkit-clear-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button
) {
  color: var(--interactive-enabled);
}