hr {
  display: block;
  overflow: visible;
  block-size: 1px;
  box-sizing: content-box;
  padding: 0;
  border: 0;
  border-block-start: 1px solid var(--stroke-dark);
  margin-block: var(--size-small);
}


// MQs
@include respond(laptop-small) {
  hr {
    margin-block: var(--size-large);
  }
}