blockquote {
  @include owl(--size-tiny);
  border-inline-start: 4px solid var(--interactive-extra-lighter);
  font-family: var(--typeface-secondary);
  font-size: var(--typescale-small);
  line-height: var(--leading-medium);
  margin-block: var(--size-small);
  padding-block: var(--size-extra-small);
  padding-inline: var(--size-tiny);
  border-radius: var(--rounded-small);
  font-weight: 500;
  background-color: var(--interactive-extra-lightest);

  > p {
    margin-block-start: 0;
  }
}

q {
  font-style: italic;
}


// MQs
@include respond(laptop-small) {
  blockquote {
    font-size: var(--typescale-large);
    line-height: var(--leading-medium);
    margin-block: var(--size-large);
  }
}
