h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typeface-primary);
  color: var(--surface-black);
  margin-block-start: var(--size-medium);

  &:first-child {
    margin-block-start: 0;
  }

  + * {
    margin-block-start: var(--size-small);
  }

  + p {
    margin-block-start: var(--size-extra-tiny);
  }
}


h1 {
  font-size: var(--typescale-extra-large);
}

h2 {
  font-size: var(--typescale-large);
}

h3 {
  font-size: var(--typescale-medium);
  font-weight: 500;
}

h4,
h5,
h6 {
  font-size: var(--typescale-small);
}