---
layout: default
---

{% include components/banner.html %}

<main>
   
  <div class="bb-sidebar">
    <article>
      <div class="ob-contain ob-contain--center ob-contain--with-v-pad">
        <details class="cp-accordion ut-hidden-desktop-yes" aria-label="Table of Content" role="navigation" >
          <summary class="cp-accordion__title">Table of Content</summary>
          <div class="cp-accordion__content">
            {% include components/toc.html %}
          </div>
        </details>
        {{ content }}
      </div>
    </article>
    <aside class="ut-hidden-desktop-no" hidden>
      <nav class="ut-gap-top-size-large ut-pos-sticky-top">
        <span class="ut-subtitle">Table of Content</span>
        {% include components/toc.html %}
      </nav>
    </aside>
  </div>
  
</main>


