---
layout: default
---

{% include components/navigation/navbar.html %}

<div class="lo-sidebar">

  <main>

    <article class="lo-journal">

      <header>
        <div class="lo-journal__contain lo-journal__contain--header">
          <div class="lo-journal__contain-inner">
            <h1>
              {{ page.title }}
            </h1>
            <p class="md-lead-text">
              {{ page.description }}
            </p>
          </div>
          {% include modules/design-system/toc-mobile.html %}
        </div>
      </header>

      <div class="lo-journal__main">
        <!-- here aside share buttons on absolute if you will -->
        <div class="lo-journal__contain with-toc">
          <div class="lo-journal__content">
            {{ content }}
          </div>
          <aside class="lo-journal__toc">
            {% include modules/design-system/toc.html %}
          </aside>
        </div>
      </div>

      <footer class="lo-journal__footer">
        <div class="lo-journal__contain">
          Here's the footer
        </div>
      </footer>
    </article>
    
  </main>
  
  <div class="lo-sidebar__aside">
    {% include components/design-system/sidebar.html %}
  </div>
</div>


