<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Barebook</title>
    <link rel="stylesheet" href="/public/css/barebook.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body class="bb-body">
    <div class="bb-app">

        {% include utils/header.html %}

        {% include utils/banner.html %}

        <main class="bb-main bb-main--styleguide">
            <div class="bb-contain">
               
                <div class="bb-content">
                    {{ content }}
                </div>
                                
            </div>
           
           <span class="bb-page-title-alt">
            {{ page.title }}
           </span>
        </main>

        {% include utils/footer.html %}

    </div>
</body>
</html>