<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Barebook</title>
    <link rel="stylesheet" href="/assets/css/barebook.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="bb-body">
    <div class="bb-app">

        {% include utils/header.html %}

        {% include utils/banner.html %}

        

        <main class="bb-main bb-main--styleguide-entry">
            <div class="bb-content">
                <h1 class="bb-page-title">
                    {{ page.title }}
                </h1>
                
                {{ content }}
                                
            </div>
           
           <aside class="bb-sidebar">
            <nav class="bb-toc-nav">
                <ul class="bb-toc-nav__list">
                    {% assign components = site.data.components-menu %}
                    {% for component in components %}
                    {% if component.title == page.title %} 
                            {% for entry in component.sub %}
                            {% assign url = entry.url | replace: " ", "-" | downcase %}
                            <li class="bb-toc-nav__item">
                                <a class="bb-toc-nav__link" href="{{ url }}">
                                    {{ entry.title }}
                                </a>
                            </li> 
                            {% endfor%}
                        {% endif %} 
                    {% endfor %}
                  </ul>
                </nav>
           </aside>
        </main>

        {% include utils/footer.html %}

    </div>
</body>
</html>