<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barebook</title>
    <link rel="stylesheet" href="/public/css/barebook.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body class="bb-body">
    <div class="bb-app">

        {% include utils/header.html %}

        {% include utils/banner.html %}

        <main class="bb-main bb-main--styleguide-entry">
            <div class="bb-content">
                
                {{ content }}
                                
            </div>
           
           <aside class="bb-sidebar">
            <nav class="bb-toc-nav">
                <ul class="bb-toc-nav__list">
                    {% assign designs = site.design %}
                    {% for item in designs %}
                        <li class="bb-toc-nav__item">
                            <a class="bb-toc-nav__link" href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li> 
                    {% endfor %}
                  </ul>
                </nav>
           </aside>
        </main>

        {% include utils/footer.html %}

    </div>
</body>
</html>