.lo-sidebar {
  @include ob-contain(--contain-page-small, --spacing-larger, --spacing-default); 
  @include ob-contain-center;
  @include owl(--spacing-larger);
}

.lo-sidebar__main {
  @include owl(--spacing-larger);
}


// MQs
@include respond(tablet-small) {
  .lo-sidebar {
    @include ob-contain-pad-inline-start-end(--spacing-large)
  }
}

@include respond(tablet-medium) {
  .lo-sidebar {
    @include dp-grid-gap(--spacing-largest);
    grid-template: 'sidebar main' / var(--contain-aside-medium) auto;
  }
    
  .lo-article__main {
    grid-area: main;
  }

  .lo-sidebar__aside {
    grid-area: sidebar;
  }

}

@include respond(laptop-small) {
  .lo-sidebar {
    @include ob-contain-pad-block-start-end(--spacing-huge);
    gap: var(--spacing-huge);
  }
}
