.cp-client-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  content-visibility: auto;
  gap: var(--size-24);
  text-align: center;
}

.cp-client-list__link {
  display: block;
}

.cp-client-list__img {
  width: auto;
  height: var(--size-48);
}

// MQs
@include respond(tablet-l) {
  .cp-client-list__img {
    height: var(--size-64);
  }
} // 900px
