// Block

.lo-sidebar {
  display: grid;
  gap: var(--gutter-medium);
}


// Elements


// Modifiers
.lo-sidebar {
  padding-block-end: var(--gutter-medium);

  &--contain {
    margin-inline: auto;
    max-inline-size: var(--contain-medium);
  }

  &--banner {
    padding-block-start: calc(var(--gutter-extra-large) * 2);
    
  }
}


// States
.lo-sidebar {
  &--size-extra-small { max-inline-size: var(--contain-extra-small); } // 1024
  &--size-small { max-inline-size: var(--contain-small); } // 1240
}


// MQs
@include respond(tablet-large) {
  .lo-sidebar {
    grid-template: 'main-content sidebar' / auto var(--contain-aside-default);
  
    &--reversed {
      grid-template: 'sidebar main-content' / var(--contain-aside-default) auto;
    }

    &--columns-half {
      grid-template-columns: 1fr 1fr;
    }

    &--colums-two-third {
      grid-template-columns: 1.7fr 1fr;
    }

    &--colums-two-third-reversed {
      grid-template-columns: 1fr 1.7fr ;
    }
  }

  .lo-sidebar__content {
    grid-area: main-content;
  }
  
  .lo-sidebar__aside {
    grid-area: sidebar;
  }

  .lo-sidebar__aside-content {
    padding-inline: var(--gutter-extra-small);
  }
}


@include respond(laptop-small) {
  .lo-sidebar {
    &--columns-medium {
      grid-template-columns: auto var(--contain-aside-medium);
    }
  
    &--columns-large {
      grid-template-columns: auto var(--contain-aside-large);
    }
  }
}



@include respond(laptop-medium) {
  .lo-sidebar--banner {
    padding-block-start: calc(var(--gutter-extra-large) * 3);
    
  }

  .lo-sidebar {
    padding-block-end: var(--gutter-extra-large);
  }
}




