.cp-pager {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);
}





// Elements
.cp-pager__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: var(--size-16);
  border: 2px solid var(--border-color-subdued);
  border-radius: var(--bd-radius-tiny);
  color: inherit;
  text-decoration: none;
  padding: var(--size-16);

  &:first-child {
    text-align: right;
  }

  &:hover {
    border-color: var(--primary-enabled);
    
    .cp-pager__title {
      color: var(--primary-enabled);
    }
  }
}

.cp-pager__icon {
  fill: var(--canvas-text-subdued);
}

.cp-pager__content {
  display: flex;
  flex-direction: column;
  
}

.cp-pager__counter {
  color: var(--canvas-text-subdued);
  font-size: var(--font-size-body-small);
}








// MQs 
@include respond(tablet) {
  .cp-pager {
    flex-direction: row;
    justify-content: space-between;
  }
}     // 600px