.lo-footer {
  padding-block: var(--gutter-medium);
  background-color: var(--canvas-lightest);
}

.lo-footer__apart {
  @include dp-flex-wrap-gap(--gutter-medium);
}


.lo-footer-nav {
  @include reset-list;
}

.lo-footer-nav__link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: var(--spacing-extra-tiny);

  &:hover {
    color: var(--interactive-hovered);
  }
}



// MQs
@include respond(tablet-large) {
  .lo-footer  {
    padding-block-start: var(--gutter-extra-large);
  }
}
