/* Set up Montserrat for old browsers, only regular + bold */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/montserrat/static/Montserrat-Regular.woff2');
  }

  @font-face {
    font-family: Montserrat;
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('/assets/fonts/montserrat/static/Montserrat-Italic.woff2');
  }

  @font-face {
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/montserrat/static/Montserrat-Bold.woff2');
  }

  @font-face {
    font-family: Montserrat;
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url('/assets/fonts/montserrat/static/Montserrat-BoldItalic.woff2');
  }

  body {
    font-family: Montserrat;
  }
}

/* Set up Montserrat for modern browsers, all weights */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Montserrat';
    font-stretch: 25% 150%;
    font-style: oblique 0deg 10deg;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/montserrat/Montserrat-VF.woff2') format('woff2 supports variations'),
         url('/assets/fonts/montserrat/Montserrat-VF.woff2') format('woff2-variations');
  }
}