{% assign component = include.item %}
{% assign source = item.url | prepend: site.baseurl %}
{% assign slug = item.slug %}
{% assign title = item.slug | replace: "-", " " | capitalize %}
{% assign description = item.description | markdownify %}
{% assign hint = item.hint %}
{% assign html = item.content %}
{% assign react = "Reat code coming soon!" %}
{% assign parameters = item.parameters %}
{% assign tab_name = slug | append: "-tab" %}

<section class="bb-system" id="{{ slug }}">

  <div class="bb-system__doc">

    <h2 class="bb-system__title">
      {{ title }}
    </h2>
   
    {{ description }}

    <table class="bb-system__table">
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for parameter in parameters %}
          {% assign parameter_name =
          parameter[0] %}
          {% assign parameter_desc = parameter[1] | markdownify
          %}
          <tr>
            <td>
              <code>{{ parameter_name }}</code>
            </td>
            <td>{{ parameter_desc }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if hint %}
      <div class="bb-system__hint">
        {{ hint }}
      </div>
    {% endif %}

  </div>

  <div class="bb-system__code">

    <div class="bb-system__output">

      <a class="bb-system__open" href="{{ source }}" title="Open in a New window" target="_blank">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          width="16" 
          height="16" 
          class="ob-icon" 
          viewBox="0 0 16 16"
          aria-hidden="true"
        >

          <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z"/>
        </svg>
        <span class="ut-visually-hidden">Open in a New window</span>
      </a>
      
      {{ html }}
    </div>
    
    <div class="bb-system__source">
      <div class="cp-code">
        <button class="cp-button cp-button--fab  cp-code__button">
          <svg 
          xmlns="http://www.w3.org/2000/svg" 
          width="16" 
          height="16" 
          class="ob-icon" 
          viewBox="0 0 16 16"
          aria-hidden="true"
          >
            <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"></path>
          </svg>
          <span class="cp-code__tooltip" role="tooltip">
            Copy code
          </span>
        </button>
      
      {% highlight html %}{{ html }}{% endhighlight %}
      
      </div>
    </div>
    
  </div>

</section>
