.cp-breadcrumb {
    margin-block-start: var(--size-16);
}



// Elements
.cp-breadcrumb__contain {
    padding: var(--size-16);
}

.cp-breadcrumb__nav {
    display: flex;
    align-items: center;
}

.cp-breadcrumb__back-icon {
    width: 16px;
    height: 16px;
    margin-right: var(--size-4);
}

.cp-breadcrumb__nav__link {
    font-size: var(--fs-caption);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-on-canvas-subdued-10);    
    font-weight: bold;
    display: block;
    

    &:last-child {
        color: var(--canvas-text);
    }

    + .cp-breadcrumb__nav__link {
        margin-left: var(--size-8);
    }

    + .cp-breadcrumb__nav__link::before {
        content: '/';
        padding-right: var(--size-8);
    }
}





// MQs
@include respond(tablet-l) {
    .cp-breadcrumb__contain {
        padding: var(--size-16) var(--size-32);
    }
}     // 900px