---
---

// Brand
.cp-logo--barebook {
  display: flex;
  align-items: center;
  gap: var(--spacing-default);
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--typescale-base-text-large);
}



// Layouts
.lo-article__content > section {
  > * + * {
    margin-block-start: var(--spacing-large);
  }
}

#variants {
  > * + * {
    margin-block-start: var(--spacing-largest);
  }
}

.bb-variants__header {
  display: flex;
  gap: var(--spacing-default);
  align-items: center;
  justify-content: space-between;
  margin-block-end: var(--spacing-default);
}

.bb-variants__demo {
  margin-block-end: var(--spacing-small);
}

.bb-variants__demo,
.bb-variants__code {
  > * {
    margin: 0;
  }
}