fieldset {
  inline-size: 100%;
  border: 0;
}

legend {
  display: table;
  max-inline-size: 100%;
  box-sizing: border-box;
  color: inherit;
  white-space: normal;
}

label {
  display: inline-block;
  cursor: pointer;

  + input,
  + select,
  + textarea {
    margin-block-start: var(--space-4);
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

input,
select,
textarea {
  inline-size: 100%;
  block-size: var(--space-49, 3.0625rem);
  padding: var(--space-4, 0.25rem) var(--space-8, 0.5rem);
  font-weight: var(--font-weight-semibold);
  color: inherit;
  background-color: var(--color-background-input);
  border: 2px solid var(--color-border-input);
  border-radius: var(--space-4, 0.25rem);

  transition-duration: 150ms;
  transition-property: border-color;


  &:hover { // holding the mouse pointer over the item
    background-color: var(--color-background-input-hovered);
  }

  &:active { // when the item is clicked on
    background-color: var(--color-background-input-hovered);
  }

  &:focus { //  element has focus 
    background-color: var(--color-background-input-pressed);
    border-color: var(--color-border-focused);
    box-shadow: 0 0 0 2px var(--color-border-focused);
    outline: none;
  }

  &:disabled {
    background-color: var(--color-background-disabled);
    border-color: var(--color-border-disabled);
    cursor: not-allowed;
  }
  
}

select {
  background-color: inherit;
  cursor: pointer;
  touch-action: manipulation;
}

textarea {
  overflow: auto;
  min-block-size: var(--space-184);
}

progress {
  vertical-align: baseline;
}

// Radio and Checkbox
[type="button"],
[type="reset"],
[type="checkbox"],
[type="radio"],
[type="submit"] {
  inline-size: auto;
  block-size: auto;
  min-block-size: auto;
}

[type="button"],
[type="reset"],
[type="submit"] {
  &:hover {
    border-color: transparent;
  }

  &:focus {
    border-color: transparent;
    box-shadow: unset;
  } 
}

[type="file"],
[type="range"] {
  border-width: 2.5px;
  border-style: dashed;
  cursor: pointer;
  touch-action: manipulation;
}

:is(
::-webkit-calendar-picker-indicator,
::-webkit-clear-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button
) {
  color: var(--color-background-brand); 
}