.cp-header {

}



// Elements
.cp-header__contain {
  @include default-contain;
  display: flex;
  align-items:  center;
  justify-content: space-between;
  padding-top: var(--size-16);
}


.cp-header__theme-picker {
  margin-left: auto;
}




// MQs
@include respond(tablet-l) {
  .cp-header__contain {
    gap: calc(var(--size-48) * 2);
    justify-content: normal;
    padding-top: var(--size-24);
  }
}     // 900px