---
layout: sidebar-toc

title: Text content
description: "Use HTML text content elements to organize blocks or sections of content placed between the opening <body> and closing </body> tags. Important for accessibility and SEO, these elements identify the purpose or structure of that content."
classification: elements
type: Text content

permalink: /elements/text-content/
---

{% assign classification = page.classification  %}
{% assign itemsByType = site[classification] | group_by: "type" %}

   
{% for type in itemsByType %}
  {% if type.name == page.type %}
  {% assign itemsByOrder = type.items | sort: 'order' %}
    {% for item in itemsByOrder %}
    {% assign title = item.title | replace: "-", " " | capitalize %}

      <h2 id="{{ item.title | slugify }}">{{ title }}</h2>

      {{ item }}

    {% endfor %}
  {% endif %}
{% endfor %}












