.cp-masthead {
  position: relative;
  @include dp-flex;
  min-height: 50vh;
}

// Elements
// contain is use to contain the text along side the side container
// somecase this is not necessary in your html
.cp-masthead__contain {
  @include ob-contain(--contain-page-medium, --spacing-zero, --spacing-zero);
  @include ob-contain-center;
  @include dp-flex;
  @include dp-flex-direction-column;
  flex-grow: 1;
}

.cp-masthead__text {
  @include dp-flex;
  @include pos-rel-object-forward;
  padding: var(--spacing-default);
  max-width: var(--contain-article-large);
  justify-content: center;
}

.cp-masthead__title {
  font-size: var(--typescale-display-text-small);
  font-weight: var(--typeweight-200);
  line-height: var(--leading-small);
  margin-block-start: 0;
}

.cp-masthead__sub-title {
  font-size: var(--typescale-title-text-small);
  margin-block-start: var(--spacing-small);
  line-height: inherit;
}

.cp-masthead__tag {
  order: -1;
  font-size: var(--typescale-label-text-medium);
  margin-block-end: var(--spacing-tiny);
  text-transform: uppercase;
}

.cp-masthead__button {
  align-self: start;
  margin-block-start: var(--spacing-default);
}

.cp-masthead__meta {
  margin-block-start: var(--spacing-larger);

  &::before {
    @include pseudo-class;
    width: 96px;
    border-top: 1px solid var(--border-color);
    padding-block-end: var(--spacing-default);
  }
}

.cp-masthead__pattern {
  position: absolute;
  bottom: 0;
  fill: var(--canvas-background-color-v4);
}

.cp-masthead__figure {
  position: absolute;
  @include pos-zero-all-sides;

  background-color: var(--canvas-background-color-v4);

  &::after {
    position: absolute;
    @include pseudo-class;
    @include pos-zero-all-sides;

    background-color: var(--transparent-neutral-light); //TODO: not yet implemented
  }
}

.cp-masthead__picture {
  @include fit-media-into-container;
}

.cp-masthead__video {
  @include fit-media-into-container;
}

.cp-masthead__img {
  @include fit-media-into-container;
}



// Modifiers
.cp-masthead__text--larger {
  max-width: var(--contain-article-larger);
}
.cp-masthead__text--align-center {
  margin: auto;
  text-align: center;
}

.cp-masthead__text--at-center {
  margin: auto;
}

.cp-masthead__text--at-left-center {
  margin-block-end: auto;
  margin-block-start: auto;
}

.cp-masthead__text--at-bottom {
  margin-block-start: auto;
}



// MQs
@include respond(tablet-small) {
  .cp-masthead__text {
    @include ob-contain-pad-inline-start-end(--spacing-large)
  }  
}



@include respond(tablet-large) {
  .cp-masthead__title {
    font-size: var(--typescale-display-text-medium);   
  }

  .cp-masthead__sub-title {
    font-size: var(--typescale-title-text-medium);
  }
}

@include respond(laptop-small) {
  .cp-masthead {
    min-height: 66vh;
  }

  .cp-masthead--fullscreen {
    min-height: 100vh;
  }

  .cp-masthead__title {
    font-size: var(--typescale-display-text-large);
    line-height: var(--leading-tiny);
  }

  .cp-masthead__sub-title {
    font-size: var(--typescale-title-text-large);
  }
}