// Resets - Should come first to respect cascade
.cp-masthead__list {
  @include reset-list; 
}

// Block
.cp-masthead {
  display: flex;
  position: relative;
  min-height: 100vh;
}

  // Modifiers
  .cp-masthead--banner {
    min-height: var();

    outline: 1px solid red;
  }


// Elements
.cp-masthead__text {
  display: flex;
  flex-direction: column;
  @include pos-rel-object-forward;
  margin-block-start: auto;
  padding: 
    calc(var(--gutter-extra-large) + var(--gutter-medium))
    var(--gutter-extra-small) 
    var(--gutter-large) 
    var(--gutter-extra-small);
  justify-content: center;
  max-width: var(--contain-large);
}

.cp-masthead__title {
  font-size: var(--typescale-display-small);
  line-height: var(--leading-small);
  margin-block-start: 0;
}

.cp-masthead__sub-title {
  font-size: var(--typescale-title-small);
  line-height: var(--leading-small);
  font-weight: var(--typeweight-200);
}

.cp-masthead__lead-text {
  margin-block-start: var(--gutter-extra-small);
  font-size: var(--lead-text-small);
  color: var(--surface-fade);
}

.cp-masthead__tag {
  margin-block-end: var(--spacing-medium);
  font-size: var(--typescale-body-medium);
}

.cp-masthead__button {
  align-self: start;
  margin-block-start: var(--gutter-extra-small);
}

  // Element Modifiers
  .cp-masthead__title--preline {
    position: relative;
    &::before {
      @include pseudo-class;
      position: absolute;
      top: 48px;
      left: -100px;
      width: 64px;
      height: 3px;
      background-color: var(--outline-dark);
    }
  }



// MQs
@include respond(tablet-tiny) {
  .cp-masthead__text {
    padding-inline-start: var(--gutter-extra-large);
    padding-inline-end: var(--gutter-extra-large);
  }
}

@include respond(tablet-large) {
  .cp-masthead__title {
    font-size: var(--typescale-display-medium);
    line-height: var(--leading-medium);
  }

  .cp-masthead__sub-title {
    font-size: var(--typescale-title-large);
    line-height: var(--leading-medium);
  }

  .cp-masthead__lead-text {
    font-size: var(--lead-text-large);
    line-height: var(--leading-large);
  }

  .cp-masthead__list-item-button {
    margin-inline-end: var(--spacing-largest);
  }
}


@include respond(laptop-medium) {
  .cp-masthead__text {
    max-width: var(--contain-extra-large);
  }

  .cp-masthead__title {
    font-size: var(--typescale-display-large);
    line-height: var(--leading-extra-small);
  }

  .cp-masthead__text--align-left-center {
    margin-block-start: auto;
    margin-block-end: auto;
  }

  .cp-masthead__text--align-center {
    margin: auto;
    text-align: center;
  }
}
