.cp-masthead {
  @include pos-rel-object-on-top;
  @include dp-flex-direction-column;
}

// Elements
// contain is use to contain the text along side the side container
// somecase this is not necessary in your html
.cp-masthead__contain {
  @include default-contain;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-block-end: var(--size-48);
  padding-block-start: var(--size-48);
}

.cp-masthead__text {
  @include dp-flex-direction-column;
  @include pos-rel-object-on-top;
  padding: var(--size-16);

  max-width: 55ch;
  min-height: 400px;
  justify-content: center;
}

.cp-masthead__title {
  font-size: var(--fs-heading-2);
  font-weight: 200;
  line-height: var(--lh-heading-2);
  margin-block-start: 0;
}

.cp-masthead__sub-title {
  font-size: var(--fs-subtitle);
  font-weight: 200;
  margin-block-start: var(--size-4);
  line-height: inherit;
}

.cp-masthead__tag {
  order: -1;
  font-size: var(--fs-caption);
  margin-block-end: var(--size-4);
  text-transform: uppercase;
}

.cp-masthead__button {
  align-self: start;
  margin-block-start: var(--size-16);
}

.cp-masthead__meta {
  margin-block-start: var(--size-48);

  &::before {
    display: block;
    width: 96px;
    border-top: 1px solid var(--border-color);
    content: "";
    padding-block-end: var(--size-16);
  }
}

.cp-masthead__pattern {
  position: absolute;
  bottom: 0;
  fill: var(--canvas-subdued-20);
}

.cp-masthead__figure {
  @include pos-abs-zero-all-sides;

  background-color: var(--canvas-subdued-10);

  &::after {
    @include pos-abs-zero-all-sides-pseudo-class;

    background-color: var(--tp-black-light);
  }
}

.cp-masthead__picture {
  @include fit-media-into-container;
}

.cp-masthead__video {
  @include fit-media-into-container;
}

.cp-masthead__img {
  @include fit-media-into-container;
}

.cp-masthead__list {
  li {
    padding: var(--size-16);

    &:nth-child(2) {
      border-right: 2px solid var(--primary-enabled);
      border-left: 2px solid var(--primary-enabled);
      border-radius: var(--bd-radius-largest);
    }
  }
}

.cp-masthead__icon {
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--icon-color);
  margin-block-end: var(--size-24);
}

// Modifiers
.cp-masthead--light-gray {
  background-color: var(--canvas-subdued-10);
}

.cp-masthead--fullscreen {
  min-height: 100vh;
}

.cp-masthead--two-third {
  min-height: 67vh;
}

// changing the heigh large screen
.cp-masthead--fluid {
  min-height: 100vh;
}

.cp-masthead__text--align-center {
  margin: auto;
  text-align: center;
}

.cp-masthead__text--at-center {
  margin: auto;
}

.cp-masthead__text--at-left-center {
  margin-block-end: auto;
  margin-block-start: auto;
}

.cp-masthead__text--at-bottom {
  margin-block-start: auto;
}

// MQs
@include respond(tablet-l) {
  .cp-masthead__contain {
    padding-block-end: calc(2 * var(--size-48));
    padding-block-start: calc(2 * var(--size-48));
  }

  .cp-masthead__text {
    min-height: 600px;
  }

  .cp-masthead__title {
    font-size: var(--fs-lead-heading-small);
    line-height: var(--lh-heading-2);
  }

  // Modifiers
  .cp-masthead--fluid {
    min-height: 90vh;
  }
}   // 1240px
