// Resets - Should come first to respect cascade
.cp-masthead__list {
  @include reset-list; 
}

// Block
.cp-masthead {
  @include dp-flex;
  position: relative;
  min-height: 100vh;
}

  // Modifiers
  .cp-masthead--banner {
    min-height: 50vh;
  }


// Elements
.cp-masthead__contain {
  @include dp-flex;
  @include dp-flex-direction-column;
  flex-grow: 1;
}

.cp-masthead__text {
  @include dp-flex;
  @include dp-flex-direction-column;
  @include pos-rel-object-forward;
  margin-block-start: auto;
  padding-block-start: var(--spacing-huge);
  padding-block-end: var(--spacing-large);
  justify-content: center;
  max-width: var(--contain-size-medium-small);
}

.cp-masthead__title {
  font-size: var(--typescale-display-small);
  line-height: var(--leading-small);
  margin-block-start: 0;
}

.cp-masthead__sub-title {
  margin-block-start: var(--spacing-medium-small) !important;
  font-size: var(--typescale-headline-medium);
}

.cp-masthead__lead-text {
  margin-block-start: var(--spacing-large);
  font-size: var(--lead-text);
  max-width: var(--contain-size-medium-small);
  color: var(--canvas-text-color-v2);
}

.cp-masthead__tag {
  margin-block-end: var(--spacing-default);
  text-transform: uppercase;
}

.cp-masthead__button {
  align-self: start;
  margin-block-start: var(--spacing-larger);
}

  // Element Modifiers
  .cp-masthead__title--preline {
    position: relative;
    &::before {
      @include pseudo-class;
      position: absolute;
      top: 48px;
      left: -100px;
      width: 64px;
      height: 3px;
      background-color: var(--icon-color);
    }
  }



// MQs
@include respond(tablet-large) {

  .cp-masthead__text {
    padding-block-end: var(--spacing-huge);
  }

  .cp-masthead__title {
    font-size: var(--typescale-display-medium);
  }

  .cp-masthead__sub-title {
    font-size: var(--typescale-display-small);
  }

  .cp-masthead__lead-text {
    --lead-text: var(--typescale-title-small);
  }

  .cp-masthead__list-item-button {
    margin-inline-end: var(--spacing-largest);
  }
}

@include respond(laptop-small) {
  .cp-masthead__title {
    font-size: var(--typescale-display-large);
  }
}
