@mixin ref-color {
  // Neutrals
  --ref-black: #000;
  --ref-white: #fff;

  --ref-neutral-5:  #f9f9f9;
  --ref-neutral-10: #f3f3f3;
  --ref-neutral-20: #eaeaea;
  --ref-neutral-30: #dadada;
  --ref-neutral-40: #b7b7b7;
  --ref-neutral-50: #979797;
  --ref-neutral-60: #6e6e6e;
  --ref-neutral-70: #5b5b5b;
  --ref-neutral-80: #3c3c3c;
  --ref-neutral-90: #1c1c1c;

  // Dark Schemes
  --ref-dark-5: #616f84;
  --ref-dark-10: #546173;
  --ref-dark-20: #434e5d;
  --ref-dark-30: #343c48;
  --ref-dark-40: #222831;

  // Primary 
  --ref-primary-5: #fef8e3;
  --ref-primary-10: #fcedb7;
  --ref-primary-20: #fbe18a;
  --ref-primary-30: #fad75d;
  --ref-primary-40: #f9cd3e;
  --ref-primary-50: #f9c430;
  --ref-primary-60: #F8B82A; // p
  --ref-primary-70: #f7a526;
  --ref-primary-80: #f69522;
  --ref-primary-90: #142392; // p

  // Secondary 
  --ref-secondary-5: #e7eaf9;
  --ref-secondary-10: #c3c9ef;
  --ref-secondary-20: #9ba6e4;
  --ref-secondary-30: #7184da;
  --ref-secondary-40: #5068d2;
  --ref-secondary-50: #284dc9;
  --ref-secondary-60: #2145bf;
  --ref-secondary-70: #143bb3; 
  --ref-secondary-80: #0130a7; // P
  --ref-secondary-90: #001c94;

  // Accents
  // --ref-red-: #b71c1c;
  // --ref-red-: #d32f2f;
  // --ref-red-: #f44336;
  // --ref-red-: #e57373;
  // --ref-red-: #ffcdd2;
  // --ref-red-: #ffebee;

  // --ref-green-: #1b5e20;
  // --ref-green-: #388e3c;
  // --ref-green-: #4caf50;
  // --ref-green-: #81c784;
  // --ref-green-: #c8e6c9;
  // --ref-green-: #e8f5e9;

  // --ref-blue-: #0d47a1;
  // --ref-blue-: #1976d2;
  // --ref-blue-: #2196f3;
  // --ref-blue-: #64b5f6;
  // --ref-blue-: #bbdefb;
  // --ref-blue-: #e3f2fd;

  // --ref-teal-: #004d40;
  // --ref-teal-: #00796b;
  // --ref-teal-: #009688;
  // --ref-teal-: #4db6ac;
  // --ref-teal-: #b2dfdb;
  // --ref-teal-: #e0f2f1;

  // --ref-orange-: #e65100;
  // --ref-orange-: #f57c00;
  // --ref-orange-: #ff9800;
  // --ref-orange-: #ffb74d;
  // --ref-orange-: #ffe0b2;
  // --ref-orange-: #fffde7;  
}
