@mixin ref-color {
  // Neutrals
  --ref-black: #000000;
  --ref-white:#ffffff;

  --ref-neutral-5: #f6f7fb;
  --ref-neutral-10:#edeef2;
  --ref-neutral-20:#e1e2e6;
  --ref-neutral-30:#cfd0d3;
  --ref-neutral-40:#aaabae;
  --ref-neutral-50:#898a8d;
  --ref-neutral-60:#626366;
  --ref-neutral-70:#4f5053;
  --ref-neutral-80:#313235;
  --ref-neutral-90:#111215;

  // Primary 
  --ref-primary-5: #fef8e3;
  --ref-primary-10: #fcedb7;
  --ref-primary-20: #fbe18a;
  --ref-primary-30: #fad75d;
  --ref-primary-40: #f9cd3e;
  --ref-primary-50: #f9c430;
  --ref-primary-60: #F8B82A; // p
  --ref-primary-70: #f7a526;
  --ref-primary-80: #f69522;
  --ref-primary-90: #f4781d;

  // Secondary 
  --ref-secondary-5: #e2f2ff;
  --ref-secondary-10: #badcff;
  --ref-secondary-20: #8cc7ff;
  --ref-secondary-30: #56b1ff;
  --ref-secondary-40: #2a9fff;
  --ref-secondary-50: #008eff;
  --ref-secondary-60: #1d7fff;
  --ref-secondary-70: #2a6bf8; // p
  --ref-secondary-80: #3058e5;
  --ref-secondary-90: #3633c5;

  // Accents
  // --ref-red-: #b71c1c;
  // --ref-red-: #d32f2f;
  // --ref-red-: #f44336;
  // --ref-red-: #e57373;
  // --ref-red-: #ffcdd2;
  // --ref-red-: #ffebee;

  // --ref-green-: #1b5e20;
  // --ref-green-: #388e3c;
  // --ref-green-: #4caf50;
  // --ref-green-: #81c784;
  // --ref-green-: #c8e6c9;
  // --ref-green-: #e8f5e9;

  // --ref-blue-: #0d47a1;
  // --ref-blue-: #1976d2;
  // --ref-blue-: #2196f3;
  // --ref-blue-: #64b5f6;
  // --ref-blue-: #bbdefb;
  // --ref-blue-: #e3f2fd;

  // --ref-teal-: #004d40;
  // --ref-teal-: #00796b;
  // --ref-teal-: #009688;
  // --ref-teal-: #4db6ac;
  // --ref-teal-: #b2dfdb;
  // --ref-teal-: #e0f2f1;

  // --ref-orange-: #e65100;
  // --ref-orange-: #f57c00;
  // --ref-orange-: #ff9800;
  // --ref-orange-: #ffb74d;
  // --ref-orange-: #ffe0b2;
  // --ref-orange-: #fffde7;  
}

@mixin ref-light-and-dark-schemes {
  // Light Schemes
  --ref-light-scheme-5: var(--ref-white);
  --ref-light-scheme-10: var(--ref-neutral-5);
  --ref-light-scheme-20: var(--ref-neutral-10);
  --ref-light-scheme-30: var(--ref-neutral-20);
  --ref-light-scheme-40: var(--ref-neutral-30);

  // Dark Schemes
  --ref-dark-scheme-50: #3e4156;
  --ref-dark-scheme-60: #2a2d3e;
  --ref-dark-scheme-70: #272a39;
  --ref-dark-scheme-80: #242635;
  --ref-dark-scheme-90: #212332;
}

