// Block
.cp-toc {
    
}


// Elements
.cp-toc__title {
  font-size: var(--typescale-body-large);
}

.cp-toc__list {
  @include reset-list;

  .cp-toc__list {
    margin-inline-start: var(--spacing-medium);
  }
}

.cp-toc__link {
  color: var(--surface-fade);
  text-decoration: none;
  display: inline-block;
  padding: var(--spacing-tiny) 0;
  border-left: 3px solid transparent;
  font-size: var(--typescale-body-default);

  &:hover {
    color: var(--surface);
  }
}

// Modifiers
.cp-toc--desktop {
  display: none;
  position: sticky;
  top: calc(var(--gutter-extra-large) + var(--gutter-large));
}



// States
.cp-toc__link {
  &.is-active {
    //color: var(--link-text-color-focused);
  }
}