@mixin con-light-canvas {
  --canvas-background-color: var(--ref-light-scheme-5);
  --canvas-text-color: var(--ref-neutral-90);

  --selection-background-color: var(--ref-primary-60);
  --selection-text-color: var(--ref-neutral-90);

  --code-background-color: var(--ref-neutral-20);

  --border-color: var(--ref-neutral-30);

  --icon-color: var(--ref-neutral-70);
  --icon-color-hovered: var(--ref-neutral-80);

  --headline-text-color: var(--ref-black);

  --primary-enabled: var(--ref-primary-70);
  --primary-hovered: var(--ref-primary-80);
  --primary-focused: var(--ref-primary-90);
  --primary-enabled-text-color: var(--ref-black);

  --link-text-color-enabled: var(--ref-secondary-80);
  --link-text-color-hovered: var(--ref-secondary-90);
  --link-text-color-focused: var(--ref-secondary-90);
  --article-link-text-color-hovered: var(--ref-neutral-5);
  --article-link-background-color-hovered: var(--ref-secondary-70);

  --interactive-enabled: var(--ref-primary-80);
  --interactive-focused: var(--ref-primary-90);

  // Variants
  --canvas-background-color-v1: var(--ref-light-scheme-10);
  --canvas-background-color-v2: var(--ref-light-scheme-20);
  --canvas-background-color-v3: var(--ref-light-scheme-30);
  --canvas-background-color-v4: var(--ref-light-scheme-40);
  --canvas-text-color-v1: var(--ref-neutral-50);
  --canvas-text-color-v2: var(--ref-neutral-60);
  --canvas-text-color-v3: var(--ref-neutral-70);

  --border-color-v1: var(--ref-neutral-20);

  // States/Notifications //TODO: update these to ref variables
  --success: #1f7b5c;
  --success-lighter: #b5e0d3;
  --success-lightest: #e1f2ee;
  --warning: #b38416;
  --warning-lighter: #e0b774;
  --warning-lightest: #f7eedd;
  --info: #00a0ab;
  --info-lighter: #94c4cc;
  --info-lightest: #e1f8fa;
  --error: #d63312;
  --error-lighter: #f95446;
  --error-lightest: #fbe8e7;

  // Misc
  accent-color: var(--interactive-enabled);
}