// Block
.ob-pageless {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    min-inline-size: 100%;
  }
}



// MQs
@include respond(laptop-large) {

  .ob-pageless__item {
    min-inline-size: auto;
    &.wide {
     img {
        inline-size: var(--contain-medium);
        max-inline-size: var(--contain-medium);
      }
    }
  
    &.full {
      img {
        inline-size: 100vw;
        max-inline-size: 100vw;
       }
     }
  }
}