// Block
.ob-avatar {
  background-color: var(--white);
}

// Modifiers 
.ob-avatar--circle {
  border-radius: var(--rounded-full);
}

.ob-avatar--rounded {
  border-radius: var(--rounded-medium);
}


// States
.ob-avatar {
  &.small {
    @include box(--size-mega);
  }

  &.medium {
    @include box(--size-extra-mega);
  }

  &.large {
    @include box(--size-giga);
  }

  &.extra-large {
    @include box(--size-extra-giga);
  }
}