/**
 * Breakpoint 
 */
$bps: (
  mobile:     22.5rem, // 360px
  tablet:     37.5rem, // 600px
  tablet-l:   56.25rem, // 900px
  laptop:     77.5rem, // 1240px
  desktop:    90rem, // 1440px
  tv:         90rem, //TODO find a size/value for that value
) !default;

@mixin respond($bp) {
  @if map-has-key($bps, $bp) {
    @media screen and (min-width: #{map-get($bps, $bp)}) {
      @content;
    }
  } @else {
    @warn 'Unknown `#{$bp}` in $bps, please check';
  }
}

// usage
/* 
@include respond(mobile) {}   // 360px
@include respond(tablet) {}   // 600px
@include respond(tablet-l) {} // 900px
@include respond(laptop) {}   // 1240px
@include respond(desktop) {}  // 1440px
@include respond(tv) {}   // ?px
*/



// * List bare to reset ol, ul and dl elements
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}



// Flexboxs
@mixin dp-flex-direction-column {
  display: flex;
  flex-direction: column;
}



// Positions
@mixin pos-rel-overflow-hidden {
  overflow: hidden;
  position: relative;
}

@mixin pos-rel-object-on-top {
  position: relative;
  z-index: var(--layer-forward);
}

@mixin pos-fix-zero-all-sides {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

@mixin pos-abs-zero-all-sides {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

@mixin pos-abs-zero-all-sides-pseudo-class {
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--layer-back);
}



// Fit media (img,video,picture) into its parent box
@mixin fit-media-into-container {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}



// Transform and scale
@mixin trans-and-scale {
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

@mixin scale-out-on-hover-and-focus {
  transform: scale(1.03);
}





// Container
@mixin default-contain {
  max-width: var(--container-width-huge);  
  margin: 0 auto;
  padding: 0 var(--size-16);
}