// custom checkbox and radio input
.cp-form-checkable {
  @include owl(--space-24);

  // & {} explicitly scope them to the current selector
  & {
    
  }
}



// Elements
.cp-form-checkable__group {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--space-40);
    
  [type="checkbox"],
  [type="radio"] {
    opacity: 0;

    + label {
      order: -1;
      padding-inline-start: var(--space-49);
      
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        content: "";
        transform: translateY(-50%);
      }
  
      &::before {
        @include box-size(--space-40);
        background-color: var(--color-background-input);
        border: 2px solid var(--color-border-input);
        border-radius: var(--space-4, 0.25rem);
      }
  
      &::after {
        @include box-size(--space-32);
        margin-left: var(--space-4);
      }
    }

    &:hover {
      + label::before {
        background-color: var(--color-background-input-hovered);
      }
    }

    &:active {
      + label::before {
        background-color: var(--color-background-input-hovered);
      }
    }

    &:focus {
      + label::before {
        border-color: var(--color-border-focused);
        box-shadow: 0 0 0 2px var(--color-border-focused);
        outline: 3px solid transparent; /* For Windows high contrast mode. */
      }
    }

    &:checked {
      + label::before {
        border-color: var(--color-border-focused);
      }

      + label::after {
        background-color: var(--color-background-selected-pressed);
      }
    }

    &:disabled {
      
      + label {
        color: var(--color-text-disabled);
        cursor: not-allowed;
      }

      + label::before {
        background-color: var(--color-background-disabled);
        border-color: var(--color-border-disabled);
        cursor: not-allowed;
      }
    }
  }

  input[type="radio"] {
    + label::before,
    + label::after {
      border-radius: 100%;
    }
  }
}



// Modifiers
.cp-form-checkable--grid {
  @include owl(--space-0);

  // & {} explicitly scope them to the current selector
  & {
    @include dp-center-inline-gap(--space-24);
  }
}