.lo-article {

}

// Elements
.lo-article__contain {
  @include dp-flex;
  @include dp-flex-direction-column;
  max-width: var(--contain-size-large);
  margin: auto;
  padding: var(--spacing-largest) var(--spacing-medium);
}


.lo-article__sub-title {
  max-width: var(--contain-size-small);
  line-height: var(--leading-medium);
  font-weight: var(--typeweight-400);
}

.lo-article__meta {
  margin-block-start: var(--spacing-large);
}

.lo-article__media {
  border-radius: var(--shape-rounded-medium);
  overflow: hidden;
}

.lo-article__sidebar {
  @include dp-grid-gap(--spacing-largest);
}

.lo-article__content {
  font-size: var(--typescale-body-larger);
  line-height: var(--leading-large);
}

.lo-article__aside {
  padding-block-start: var(--spacing-huge);
}


    // Element Modifiers
    .lo-article__contain--header {
      padding-block-start: var(--spacing-mega);
    }
  
    .lo-article__contain--content {
      max-width: var(--contain-size-small);
    }



// MQs
@include respond(tablet-large) {

  .lo-article__media {
    height: var(--contain-size-small);
  }

  .lo-article__title {
    font-size: var(--typescale-display-medium);
  }

  .lo-article__content {
    font-size: var(--typescale-title-small);
  }

  .lo-article__contain--content {
    max-width: var(--contain-size-medium-small);
  }
}

@include respond(laptop-small) {
  .lo-article__media {
    border-radius: var(--shape-rounded-larger);
  }
  
  .lo-article__title {
    font-size: var(--typescale-display-large);
  }
}


@include respond(laptop-large) {
  .lo-article__sidebar {
    grid-template-columns: var(--contain-size-medium-small) auto ;
  }

  .lo-article__contain--content {
    max-width: var(--contain-size-larger);
  }
}