---
layout: lab
title: Lab
description: "For experimenting components"
permalink: /css40
---


<header class="lo-header">
  <div class="cp-navbar">
    <div class="cp-navbar__contain">
      {% include components/logo.html %}
      
      <div class="cp-navbar__contain">
        {% include components/primary-nav.html %}
        {% include components/color-scheme-switcher.html %}
        {% include components/toggle-nav-icon.html %}
      </div>
    </div>
  </div>

  <div class="cp-masthead" role="banner">
    <div class="ob-contain  cp-masthead__contain">

      <div class="cp-masthead__text cp-masthead__text--align-center">
        
        <h1 id="title" class="cp-masthead__title cp-masthead__title--preline">
          CSS40
        </h1>

        <h2 class="cp-masthead__sub-title">
          Take your CSS skills to the next level with 40 CSS episodes. 
        </h2>

        <p class="cp-masthead__lead-text">
          A series by:
        </p>

        <figure class="ob-media ob-media--align-center">
          <img class="ob-avatar ob-avatar--shape-circle ob-avatar--size-small" src="/assets/images/avatar.jpg" alt="A Camariana"> 
          <figcaption class="ob-media__caption">
            <span class="ob-media__author-name">Abd Al Ala Camara</span>             
            <span class="ob-media__author-role">Design engineer and Teacher</span>        
          </figcaption>
        </figure>

      </div>
    </div>
  </div>
</header>

<section class="ob-slat">
  <div class="ob-contain ob-contain--owl ob-contain--size-largest">

    <header class="ut-dp-center-block">
      <h2 class="ob-slat__title-preline ob-slat__title-preline--center ">
        Episodes
      </h2>
      <p class="ob-slat__lead-text">
        A collection of episodes to help you level up with modern CSS
      </p>
    </header>

    <ul class="ob-grid ob-grid--columns-three">
      <li class="cp-card cp-card--fill cp-card--stack">
        <div class="cp-card__text ut-text-box-auto">
          <h3 class="cp-card__title">
            <a class="cp-card__link" href="#">The of what is going to be built will come here</a>
          </h3>

          <span class="ob-tag ob-tag--upcase">
            Episode 11
          </span>

          <p>
            The description of that Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error illum, fugit, deserunt cupiditate sit ut nisi explicabo.
          </p>

          <ul class="ob-meta">
            <li>
              10 Minute Read
            </li>
            <li>
              <a class="cp-carp__link-alt" class="cp-button cp-button--icon" href="{{ episode.code }}">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  class="ob-icon" 
                  viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
              </a>
            </li>
            <li>
              <a class="cp-carp__link-alt" class="cp-button cp-button--icon" href="{{ episode.live }}">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  class="ob-icon" 
                  viewBox="0 0 16 16">
                  <path d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                  <path d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
              </a>
            </li>
            
            <li class="ut-align-apart-right">
              <span class="cp-button cp-button--text cp-button--icon cp-card__button-action" href="#">
                <span>Level up</span>
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  class="ob-icon" 
                  viewBox="0 0 16 16">
                  <path d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
              </span>
            </li>
          </ul>
        </div>
        <div class="cp-card__media">
          <img class="cp-card__img" src="/assets/images/image.jpg" alt="">
        </div>
      </li>

      <li class="cp-card cp-card--fill cp-card--stack">
        <div class="cp-card__text ut-text-box-auto">
          <h3 class="cp-card__title">
            <a class="cp-card__link" href="#">The of what is going to be built will come here</a>
          </h3>

          <span class="ob-tag ob-tag--upcase">
            Episode 11
          </span>

          <p>
            The description of that Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error illum, fugit, deserunt cupiditate sit ut nisi explicabo.
          </p>

          <ul class="ob-meta">
            <li>
              10 Minute Read
            </li>
            <li>
              <a class="cp-carp__link-alt" class="cp-button cp-button--icon" href="{{ episode.code }}">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  class="ob-icon" 
                  viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
              </a>
            </li>
            <li>
              <a class="cp-carp__link-alt" class="cp-button cp-button--icon" href="{{ episode.live }}">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  class="ob-icon" 
                  viewBox="0 0 16 16">
                  <path d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                  <path d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
              </a>
            </li>
            
            <li class="ut-align-apart-right">
              <span class="cp-button cp-button--text cp-button--icon cp-card__button-action" href="#">
                <span>Level up</span>
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  class="ob-icon" 
                  viewBox="0 0 16 16">
                  <path d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
              </span>
            </li>
          </ul>
        </div>
        <div class="cp-card__media">
          <img class="cp-card__img" src="/assets/images/image.jpg" alt="">
        </div>
      </li>

      <li class="cp-card cp-card--fill cp-card--stack">
        <div class="cp-card__text ut-text-box-auto">
          <h3 class="cp-card__title">
            <a class="cp-card__link" href="#">The of what is going to be built will come here</a>
          </h3>

          <span class="ob-tag ob-tag--upcase">
            Episode 11
          </span>

          <p>
            The description of that Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error illum, fugit, deserunt cupiditate sit ut nisi explicabo.
          </p>

          <ul class="ob-meta">
            <li>
              10 Minute Read
            </li>
            <li>
              <a class="cp-carp__link-alt" class="cp-button cp-button--icon" href="{{ episode.code }}">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  class="ob-icon" 
                  viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
              </a>
            </li>
            <li>
              <a class="cp-carp__link-alt" class="cp-button cp-button--icon" href="{{ episode.live }}">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  class="ob-icon" 
                  viewBox="0 0 16 16">
                  <path d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                  <path d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
              </a>
            </li>
            
            <li class="ut-align-apart-right">
              <span class="cp-button cp-button--text cp-button--icon cp-card__button-action" href="#">
                <span>Level up</span>
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  class="ob-icon" 
                  viewBox="0 0 16 16">
                  <path d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
              </span>
            </li>
          </ul>
        </div>
        <div class="cp-card__media">
          <img class="cp-card__img" src="/assets/images/image.jpg" alt="">
        </div>
      </li>
    </ul>


    <div class="ut-dp-center">
      <a href="#" class="cp-button cp-button--secondary" type="button">
        Show more
      </a>
    </div>
    
  </div>
</section>








<footer class="lo-footer">
  <div class="ob-contain ob-contain--size-huge">
    <div class="ob-grid ob-grid--columns-three">
      <div>
        {% include components/logo.html %}
        <p>
          Peace be upon you 👋, I'm Abd Al Ala Camara — a design engineer and educator.
        </p>

        <p>...</p>

        <p>
          Camariana Ltd is a company registered in The Gambia.<br>
          Company #. {{ site.companyNumber }}, 
          VAT #. {{ site.vatNumber }}
        </p>
      </div>
      <div class="lo-footer__apart">
        <ul class="lo-footer-nav">
          {% for item in site.data.navigation.primary %}
            <li>
              <a href="{{ item.url }}/?ref=footer-links" class="lo-footer-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="lo-footer-nav">
          {% for item in site.data.navigation.secondary %}
            <li>
              <a href="{{ item.url }}/?ref=footer-links" class="lo-footer-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="lo-footer-nav">
          {% for item in site.data.navigation.tertiary %}
            <li>
              <a href="{{ item.url }}/?ref=footer-links" class="lo-footer-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <p>
          Subscribe to the newsletter to stay up to date with
          articles, TILs, courses and much more!
        </p>
      </div>
    </div>
  </div>
</footer>
