---
title: Elements
layout: page-article
description: "These are the fundamental visual elements that shape how we design all the experiences across the websites and apps built with Barebook."

permalink: /elements/
---

{% assign elementsByType = site.elements | sort:"order" | group_by:"type"  %} 
{%  for type in elementsByType %}
  <section>
    <h2 id="{{ type.name | slugify }}">{{ type.name | capitalize }}</h2>
    {% for entry in type.items %} 
      {% include docs/element-entry.html %} 
    {% endfor %}
    <br>
    <a href="#top">[Back to Top]</a>
  </section>
{% endfor %}











