---
title: Elements
layout: pages
description: "These are the fundamental visual elements that shape how we design all the experiences across the websites and apps built with Barebook."

permalink: /elements/
---

<div class="lo-article">

  <article class="lo-article__content">

    <details class="cp-accordion ut-hidden-tablet-small-yes" aria-label="Table of Content" role="navigation" >
      <summary class="cp-accordion__title">Table of Content</summary>
      <div class="cp-accordion__content">
        {% include components/toc.html %}
      </div>
    </details>
  
    {% assign elementsByType = site.elements | sort:"order" | group_by:"type"  %} 
    {%  for type in elementsByType %}
      <section>
        <h2 id="{{ type.name | slugify }}">{{ type.name | capitalize }}</h2>
        {% for entry in type.items %} 
          {% include docs/element-entry.html %} 
        {% endfor %}
        <br>
        <a href="#top">[Back to Top]</a>
      </section>
    {% endfor %}
  
  </article>

  <aside class="lo-article__aside ut-hidden-tablet-small-no" hidden>
    <nav class="ut-pos-sticky-top">
      <span class="ut-subtitle">Table of Content</span>
      {% include components/toc.html %}
    </nav>
  </aside>    
  
</div>













