---
layout: lab
title: Lab
description: "For experimenting components"
permalink: /lab
---


<header class="lo-header">
  <div class="cp-navbar">
    <div class="cp-navbar__contain">
      {% include components/logo.html %}
      
      <div class="cp-navbar__contain">
        {% include components/primary-nav.html %}
        {% include components/theme-switcher.html %}
        {% include components/toggle-nav-icon.html %}
      </div>
    </div>
  </div>

  <div class="cp-masthead" role="banner">
    <div class="ob-contain  cp-masthead__contain">
      <div class="cp-masthead__text">
        <h1 id="title" class="cp-masthead__title cp-masthead__title--preline">
          Abd Al Ala Camara.
        </h1>

        <h2 class="cp-masthead__sub-title">
          I design & build things for the web.
        </h2>
    
        <p class="cp-masthead__lead-text">
          I'm a design engineer and educator. specializing in building (and occasionally designing) exquisite digital experiences. Currently, I'm focused on building accessible, human-centered products for people and orgs at Camariana Ltd and also teaching at <a href="#">Thuraiya</a>. 
        </p>

        
        <span class="ob-tag cp-masthead__tag">
          Peace be upon you 👋, I'm
        </span>

        <a class="cp-button cp-button--secondary cp-masthead__button" href="#" >
          Meet Abd Al Ala
        </a>

      </div>
    </div>
  </div>
</header>

<section class="ob-slat">
  <div class="ob-contain ob-contain--owl ob-contain--size-largest">

    <header>
      <h2 class="ob-slat__title-preline">
        Services
      </h2>
      <p class="ob-slat__lead-text">
        A list of my core services
      </p>
    </header>

    <ul class="ob-grid ob-grid--columns-three">
      <li class="cp-card cp-card--style-minimalist">
        <div class="cp-card__text">
          <svg 
      xmlns="http://www.w3.org/2000/svg" 
      width="16" 
      height="16" 
      class="ob-icon ob-icon--size-larger"
      viewBox="0 0 16 16"
      >
      <path d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
      <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"/>
          </svg>
          <h3 class="cp-card__title">
            Product Design
          </h3>
          <p>
            Let me help you focus on the core task flow, validate the design solutions, collect your own data, understand your users, and don't just copy your competitor.
          </p>
        </div>
      </li>
      <li class="cp-card cp-card--style-minimalist cp-card--highlight-bordered">
        <div class="cp-card__text">
          <svg 
      xmlns="http://www.w3.org/2000/svg" 
      width="16" 
      height="16" 
      class="ob-icon ob-icon--size-larger" 
      viewBox="0 0 16 16"
    >
      <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
    </svg>
          <h3 class="cp-card__title">
            Front-end Engineering
          </h3>
          <p>
            Let me help you focus on the core task flow, validate the design solutions collect your own data, understand your users, and don't just copy your competitor.
          </p>
        </div>
      </li>
      <li class="cp-card cp-card--style-minimalist">
        <div class="cp-card__text">
          <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="16" 
    height="16" 
    class="ob-icon ob-icon--size-larger" 
    viewBox="0 0 16 16"
  >
    <path d="M8 0a.5.5 0 0 1 .447.276L8.81 1h4.69A1.5 1.5 0 0 1 15 2.5V11h.5a.5.5 0 0 1 0 1h-2.86l.845 3.379a.5.5 0 0 1-.97.242L12.11 14H3.89l-.405 1.621a.5.5 0 0 1-.97-.242L3.36 12H.5a.5.5 0 0 1 0-1H1V2.5A1.5 1.5 0 0 1 2.5 1h4.691l.362-.724A.5.5 0 0 1 8 0ZM2 11h12V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5V11Zm9.61 1H4.39l-.25 1h7.72l-.25-1Z"/>
  </svg>
          <h3 class="cp-card__title">
            Teaching
          </h3>
          <p>
            Let me help you focus on the core task flow, validate the design solutions, collect your own data, understand your users, and don't just copy your competitor.
          </p>
        </div>
      </li>
    </ul>
    
  </div>
</section>



<div class="ut-dp-center">
  <a href="#projects/?ref=cta-promo-home" class="cp-button cp-button--secondary" type="button">
    Learn more
  </a>

  <span>
    or
  </span>

  <a href="#contact/?ref=cta-promo-home" class="cp-button cp-button--primary" type="button">
    Hire me
  </a>
</div>




<section class="ob-slat">
  <div class="ob-contain ob-contain--owl">

    <h2 class="ut-dp-center">
      Trusted By:
    </h2>
    
  </div>
</section>


<section class="ob-section">
  <div class="ob-contain">
    
    <h2 class="ut-visually-hidden">
      Testimonials
    </h2>
    
    <figure class="cp-quote">
      <blockquote>
        <p>
          I kept the copy of the handout
          because whenever I travelled to
          new destinations, I refer to it and
          also use it to settle disputes and
          set the record straight for drivers
          and apprentices who escalate the
          fare.
        </p>
      </blockquote>
      <figcaption class="cp-quote__citation">
         <div class="cp-quote__author">
            —
            <div>
              <span class="cp-quote__author-name">Ebrima Press Bah,</span>        
              <span class="cp-quote__author-role">Journalist and Teacher, Jamwally</span>
            </div>        
        </div>
      </figcaption>
    </figure>

  </div>
</section>


<section class="ob-slat">
  <div class="ob-contain">
    <div class="ob-sides">
      <div class="ob-sides__text">
        <h2 class="ob-slat__title-preline">
          About me
        </h2>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis odio nam aliquam ipsam aspernatur fugit facere consectetur, magnam, beatae saepe, quo nemo? Sed, quasi excepturi atque minus ipsa pariatur?
        </p>

        <p>
          Here are a few technologies I've been working with recently:
        </p>

        <div class="ob-grid">
          <ul>
            <li>
              React
            </li>
            <li>
              Redux
            </li>
            <li>
              Node.js
            </li>
          </ul>

          <ul>
            <li>
              MongoDB              
            </li>
            <li>
              GraphQL
            </li>
            <li>
              TypeScript
            </li>
          </ul>
          
        </div>

      </div>
      <div class="ob-img-backward ob-img-backward--alt cp-banner__media">
        <img class="ob-img-backward__img" src="/assets/images/image.jpg" alt="">
      </div>
    </div>
    
  </div>
  
</section>


<section class="ob-slat">
  <div class="ob-contain ob-contain--owl ob-contain--size-huge">

    <header>
      <h2 class="ob-slat__title-preline">
        Projects
      </h2>
      <p class="ob-slat__lead-text">
        A collection of side projects
      </p>
    </header>
    
    <div class="cp-card cp-card--sides">
      <div class="cp-card__text cp-card__text--contain">
        <h3 class="cp-card__title cp-card__title--display">
          Barebook
        </h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error illum, fugit, deserunt cupiditate sit ut nisi explicabo, architecto sint quas incidunt quasi delectus libero deleniti debitis culpa voluptates est odio.
        </p>

        <span class="ob-tag">
          Featured Project
        </span>

        <ul class="ob-meta">
          <li>
            React
          </li>
          <li>
            Express
          </li>
          <li>
            Redux
          </li>
        </ul>

        <ul class="ob-meta">
          <li class="ut-align-apart-left">
            <a class="cp-button cp-button--text" href="#">Read More</a>
          </li>
          <li>
            <a class="cp-button cp-button--icon" href="#">
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="16" 
                height="16" 
                class="ob-icon" 
                viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
            </a>
          </li>
          <li>
            <a class="cp-button cp-button--icon" href="#">
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="16" 
                height="16" 
                class="ob-icon" 
                viewBox="0 0 16 16">
                <path d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                <path d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="ob-img-backward cp-card__media">
        <img class="ob-img-backward__img cp-card__img" src="/assets/images/image.jpg" alt="">
      </div>
    </div>

  </div>
</section>



<section class="ob-slat">
  <div class="ob-contain ob-contain--owl ob-contain--size-largest">

    <header class="ob-slat__header">
      <div>
        <h2 class="ob-slat__title-preline">
          TILs
        </h2>
        <p class="ob-slat__lead-text">
          A collection of facts and opinions
        </p>
      </div>
      <div class="ut-dp-center">
        <a href="/tils/?ref=cta-home-tils" class="cp-button cp-button--secondary" type="button">
          All TILs
        </a>
      </div>
    </header>
  
      
    
    <ul class="ob-grid ob-grid--layout-columns">
      <li class="cp-card cp-card--bordered cp-card--link-over cp-card--interactive">
        <div class="cp-card__text">
            <h3 class="cp-card__title cp-card__title--overline">
              <a href="{{ url }}" class="cp-card__link">
                A collection of facts and opinions
              </a>
            </h3>
  
            <div class="cp-card__text-media">
              <time datetime="{{ article.meta.date | date_to_xmlschema }}">
                {{ til.meta.date | date: "%d %b, %y" }}
                30 Jul, 2022
              </time>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem quod eaque ipsum harum rerum recusandae soluta iusto magnam expedita, excepturi laudantium? Asperiores, praesentium illum.
              </p>
            </div>
        </div>
      </li>
      <li class="cp-card cp-card--bordered cp-card--link-over cp-card--interactive">
        <div class="cp-card__text">
            <h3 class="cp-card__title cp-card__title--overline">
              <a href="{{ url }}" class="cp-card__link">
                A collection of facts and opinions
              </a>
            </h3>
  
            <div class="cp-card__text-media">
              <time datetime="{{ article.meta.date | date_to_xmlschema }}">
                {{ til.meta.date | date: "%d %b, %y" }}
                30 Jul, 2022
              </time>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem quod eaque ipsum.
              </p>
            </div>
        </div>
      </li>
      <li class="cp-card cp-card--bordered cp-card--link-over cp-card--interactive">
        <div class="cp-card__text">
            <h3 class="cp-card__title cp-card__title--overline">
              <a href="{{ url }}" class="cp-card__link">
                A collection of facts and opinions facts and opinions
              </a>
            </h3>
  
            <div class="cp-card__text-media">
              <time datetime="{{ article.meta.date | date_to_xmlschema }}">
                {{ til.meta.date | date: "%d %b, %y" }}
                30 Jul, 2022
              </time>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem quod eaque ipsum harum rerum recusandae soluta iusto magnam expedita.
              </p>
            </div>
        </div>
      </li>

      <li class="cp-card cp-card--bordered cp-card--link-over cp-card--interactive">
        <div class="cp-card__text">
            <h3 class="cp-card__title cp-card__title--overline">
              <a href="{{ url }}" class="cp-card__link">
                A collection of facts and opinions
              </a>
            </h3>
  
            <div class="cp-card__text-media">
              <time datetime="{{ article.meta.date | date_to_xmlschema }}">
                {{ til.meta.date | date: "%d %b, %y" }}
                30 Jul, 2022
              </time>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem quod eaque ipsum harum rerum recusandae soluta iusto magnam expedita, excepturi laudantium? Asperiores, praesentium illum.
              </p>
            </div>
        </div>
      </li>
      <li class="cp-card cp-card--bordered cp-card--link-over cp-card--interactive">
        <div class="cp-card__text">
            <h3 class="cp-card__title cp-card__title--overline">
              <a href="{{ url }}" class="cp-card__link">
                A collection of facts and opinions
              </a>
            </h3>
  
            <div class="cp-card__text-media">
              <time datetime="{{ article.meta.date | date_to_xmlschema }}">
                {{ til.meta.date | date: "%d %b, %y" }}
                30 Jul, 2022
              </time>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem quod eaque ipsum.
              </p>
            </div>
        </div>
      </li>
      <li class="cp-card cp-card--bordered cp-card--link-over cp-card--interactive">
        <div class="cp-card__text">
            <h3 class="cp-card__title cp-card__title--overline">
              <a href="{{ url }}" class="cp-card__link">
                A collection of facts and opinions facts and opinions
              </a>
            </h3>
  
            <div class="cp-card__text-media">
              <time datetime="{{ article.meta.date | date_to_xmlschema }}">
                {{ til.meta.date | date: "%d %b, %y" }}
                30 Jul, 2022
              </time>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem quod eaque ipsum harum rerum recusandae soluta iusto magnam expedita.
              </p>
            </div>
        </div>
      </li>
    </ul>
    
  </div>
</section>

<section class="ob-slat">
  <div class="ob-contain ob-sides ob-sides--size-two-third">
    <div class="ob-sides__text">
      <h2>
        Do you have any project in mind?
      </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum assumenda impedit asperiores exercitationem ad dolorum vitae earum! Doloribus inventore nesciunt eos modi blanditiis dolore ab ipsum est corporis natus? Quam?
        </p>
    </div>
    <div>
      <p>
        me@mydomain.gm
      </p>
    </div>
  </div>
</section>

<footer class="lo-footer">
  <div class="ob-contain ob-contain--size-huge">
    <div class="ob-grid ob-grid--columns-three">
      <div>
        {% include components/logo.html %}
        <p>
          Peace be upon you 👋, I'm Abd Al Ala Camara — a design engineer and educator.
        </p>

        <p>...</p>

        <p>
          Camariana Ltd is a company registered in The Gambia.<br>
          Company #. {{ site.companyNumber }}, 
          VAT #. {{ site.vatNumber }}
        </p>
      </div>
      <div class="lo-footer__apart">
        <ul class="lo-footer-nav">
          {% for item in site.data.navigation.primary %}
            <li>
              <a href="{{ item.url }}/?ref=footer-links" class="lo-footer-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="lo-footer-nav">
          {% for item in site.data.navigation.secondary %}
            <li>
              <a href="{{ item.url }}/?ref=footer-links" class="lo-footer-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="lo-footer-nav">
          {% for item in site.data.navigation.tertiary %}
            <li>
              <a href="{{ item.url }}/?ref=footer-links" class="lo-footer-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <p>
          Subscribe to the newsletter to stay up to date with
          articles, TILs, courses and much more!
        </p>
      </div>
    </div>
  </div>
</footer>




<script>
  let bar = document.querySelector("#progress");
  window.addEventListener("scroll", () => {
    let max = document.body.scrollHeight - innerHeight;
    bar.style.width = `${(pageYOffset / max) * 100}%`;
  });
</script>