---
layout: lab
title: Lab
description: "For experimenting components"
permalink: /page
---


<header class="lo-header">
  <div class="cp-navbar">
    <div class="cp-navbar__contain">
      {% include components/logo.html %}
      
      <div class="cp-navbar__contain">
        {% include components/primary-nav.html %}
        {% include components/theme-switcher.html %}
        {% include components/toggle-nav-icon.html %}
      </div>
    </div>
  </div>

  <div class="cp-masthead cp-masthead--banner" role="banner">
    <div class="ob-contain  cp-masthead__contain">
      <div class="cp-masthead__text">
        <h1 id="title" class="cp-masthead__title cp-masthead__title--preline">
          About
        </h1>
        <p class="cp-masthead__lead-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur animi magnam, aliquid asperiores ipsum doloribus non corporis distinctio quibusdam fugiat quia excepturi quo aperiam dolor explicabo id tempore veniam pariatur. 
        </p>
      </div>
    </div>
  </div>
</header>



<footer class="lo-footer">
  <div class="ob-contain ob-contain--size-huge">
    <div class="ob-grid ob-grid--columns-three">
      <div>
        {% include components/logo.html %}
        <p>
          Peace be upon you 👋, I'm Abd Al Ala Camara — a design engineer and educator.
        </p>

        <p>...</p>

        <p>
          Camariana Ltd is a company registered in The Gambia.<br>
          Company #. {{ site.companyNumber }}, 
          VAT #. {{ site.vatNumber }}
        </p>
      </div>
      <div class="lo-footer__apart">
        <ul class="lo-footer-nav">
          {% for item in site.data.navigation.primary %}
            <li>
              <a href="{{ item.url }}/?ref=footer-links" class="lo-footer-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="lo-footer-nav">
          {% for item in site.data.navigation.secondary %}
            <li>
              <a href="{{ item.url }}/?ref=footer-links" class="lo-footer-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="lo-footer-nav">
          {% for item in site.data.navigation.tertiary %}
            <li>
              <a href="{{ item.url }}/?ref=footer-links" class="lo-footer-nav__link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <p>
          Subscribe to the newsletter to stay up to date with
          articles, TILs, courses and much more!
        </p>
      </div>
    </div>
  </div>
</footer>




<!-- <script>
  let bar = document.querySelector("#progress");
  window.addEventListener("scroll", () => {
    let max = document.body.scrollHeight - innerHeight;
    bar.style.width = `${(pageYOffset / max) * 100}%`;
  });
</script> -->