---
layout: lab
title: Under Construction
description: ""
permalink: /cons
---

<header class="lo-header">
  <div class="cp-navbar">
    <div class="cp-navbar__contain">
      {% include components/logo.html %}
      
      <div class="cp-navbar__contain">
        {% include components/color-scheme-switcher.html %}
      </div>
    </div>
  </div>

  <div class="cp-masthead" role="banner">
    <div class="ob-contain  cp-masthead__contain">
      <div class="cp-masthead__text">
        
        <h1 id="title" class="cp-masthead__title cp-masthead__title--preline">
          Abd Al Ala design & build things for the web.
        </h1>

        <h2 class="cp-masthead__sub-title">
          Design engineer and Teacher
        </h2>
    
        <p class="cp-masthead__lead-text">
          Currently, focused on building accessible, human-centered products for people and orgs at Camariana Ltd and also teaching at <a href="#">Csaydimba</a>.  
        </p>

        <p>
          <mark>
            My website is under construction, please check back soon!
          </mark>
        </p>
        
        <span class="ob-tag cp-masthead__tag">
          Peace be upon you 👋
        </span>
      </div>

      <!-- <div class="cp-masthead__text">
        
        <h1 id="title" class="cp-masthead__title cp-masthead__title--preline">
          Abd Al Ala design & build things for the web.
        </h1>

        <p class="cp-masthead__lead-text">
          Design engineer and educator. specializing in building (and occasionally designing) exquisite digital experiences. 
          Currently, focused on building accessible, human-centered products for people and orgs at Camariana Ltd and also teaching at <a href="#">Csaydimba</a>. 
        </p>
        
        <span class="ob-tag cp-masthead__tag">
          Peace be upon you 👋
        </span>

        <a class="cp-button cp-button--secondary cp-masthead__button" href="#" >
          Meet Abd Al Ala
        </a>

      </div> -->
    </div>
  </div>
</header>