
<section class="ob-slat">
  <div class="ob-contain">
    
    <h2 class="ut-visually-hidden">
      Testimonials
    </h2>
    
    <figure class="cp-quote">
      <blockquote>
        <p>
          I kept the copy of the handout
          because whenever I travelled to
          new destinations, I refer to it and
          also use it to settle disputes and
          set the record straight for drivers
          and apprentices who escalate the
          fare.
        </p>
      </blockquote>
      <figcaption class="cp-quote__citation">
        —
        <span class="cp-quote__author-name">Ebrima Press Bah,</span>        
        <span class="cp-quote__author-role">Journalist and Teacher, Jamwally</span>
      </figcaption>
    </figure>

  </div>
</section>