{% assign classification = page.classification  %}
{% assign itemsByType = site[classification] | group_by: "type" %}

<details class="cp-toc cp-accordion cp-accordion--details md-hidden-laptop-large-yes" aria-label="Table of content" role="navigation">
  <summary class="cp-toc__title cp-accordion__summary">
    Table of content
  </summary>
  <div class="cp-accordion__content">
    {% for type in itemsByType %}
    {% if type.name == page.type %}
    {% assign itemsByOrder = type.items | sort: 'order' %}
      <ul class="cp-toc__list" >
        {% for item in itemsByOrder %}
        {% assign title = item.title | replace: "-", " " | capitalize %}
        {% assign url = item.title | slugify %}
          <li class="cp-toc__item">
            <a class="cp-toc__link" href="#{{ url }}">{{ title }}</a>
          </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endfor %}
  </div>
</details>