{% assign classification = page.classification  %}
{% assign itemsByType = site[classification] | group_by: "type" %}


<div class="cp-toc cp-toc--desktop md-hidden-laptop-medium-no">
  <h4 class="cp-toc__title">
    Table of content
  </h4>

  {% for type in itemsByType %}
    {% if type.name == page.type %}
    {% assign itemsByOrder = type.items | sort: 'order' %}
      <ul class="cp-toc__list" >
        {% for item in itemsByOrder %}
        {% assign title = item.title | replace: "-", " " | capitalize %}
        {% assign url = item.title | slugify %}
          <li class="cp-toc__item">
            <a class="cp-toc__link" href="#{{ url }}">{{ title }}</a>
          </li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endfor %}
</div>

