.cp-alert {
  padding: var(--size-24);
  background-color: var(--white);
  box-shadow: var(--elevation-medium);
  border-left: 8px solid var(--border-color-subdued);
}


// Elements
@import './alert__caption';


// Modifiers
@import './alert--info';
@import './alert--warning';



// MQs
@include respond(tablet-l) {
  .cp-alert {
    padding: var(--size-32);
  }
} // 900px

@include respond(laptop) {
  .cp-alert {
    padding: var(--size-48);
  }
} // 1240px