{% assign title = page.title | strip_html | strip_newlines %}
{% assign description = page.description | default: site.description | strip_html | strip_newlines %}
{% assign site_name = site.site_name | strip_html | strip_newlines %}
{% assign type = site.type | strip_html | strip_newlines %}
{% assign image = page.image.path | default: site.image | prepend: site.baseurl | prepend: site.url  %}
{% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}


<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}</title>
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ site.keywords }}">
<meta name="author" content="{{ site.author }}">

<!-- Favicons and Touch Icon -->
<link rel="apple-touch-icon" href="icon.png">

<!-- Mobile meta data -->
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="width">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<!-- Open Graph Metadata -->
<meta property="og:title" content="{{ title }}">
<meta property="og:locale" content="{{ site.lang }}" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:type" content="{{ type }}" />
<meta property="og:image" content="{{ image }}">

<!--  Recommended -->
<meta property="og:description" content="{{ description }}">
<meta property="og:site_name" content="{{ site_name }}" />

<!-- Other -->
<link rel="canonical" href="{{ url }}" />

{% feed_meta %}
