<li class="cp-card cp-card--stack">
  <div class="cp-card__text">
    
    <h3 class="cp-card__title">
      <a class="cp-card__link" href="{{ item.url }}">
        {{ item.title }}
      </a>
    </h3>

    {% if item.description %}
      <p>
        {{ item.description }}
      </p>
    {% endif %}

    {% include utilities/categories.html %}
    {% include utilities/human-time.html %}
    
  </div> 
  {% if item.featured_image %}
    <div class="cp-card__media">
      <img class="cp-card__img" src="{{ item.featured_image.path }}" alt="{{ item.featured_image.alt }}" loading="lazy"/>
    </div>
  {% endif %}
</li>