// Block
.cp-theme-switcher {
  position: relative;
  display: flex;
  align-items: center;
  width: 72px;
  height: 24px;
  border-radius: var(--rounded-extra-large);
  border: 2px solid var(--outline-darkest);

  &:hover {
    border-color: var(--outline-darker);
  }
}


// Elements
.cp-theme-switcher__button {
  position: absolute;
  border: none;
  background: var(--canvas);
  border-radius: var(--rounded-full);
  border: 2px solid var(--outline-darkest);
  @include box(--shape-extra-small);
  display: flex;
  align-items: center;
  cursor: pointer;
  appearance: none;
  opacity: 0;

  &:hover {
    border-color: var(--outline-darker);
  }

  // State
  &[aria-pressed="true"] {
    opacity: 1;
  }
}



.cp-theme-switcher__icon {
 @include box(--icon-small);
}

  // Elements Modifiers
  .cp-theme-switcher__button--dark {
    left: -2px;
  }
  
  .cp-theme-switcher__button--system {
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--layer-forward);
    
  }
  
  .cp-theme-switcher__button--light {
    right: -2px;
  }