@mixin context-consistent-color {
  --white: var(--ref-white);
  --white-light: var(--ref-neutral-20);

  --black: var(--ref-black);
  --black-light: var(--ref-neutral-80);

  --selection-canvas: var(--ref-primary-60);
  --selection-surface: var(--ref-neutral-90);
}


@mixin context-color-transparent {
  --transparent-neutral-medium: rgba(0, 0, 0, 0.5);
}


@mixin context-color-notification {
  --success: var(--ref-green-70);
  --success-lightest: var(--ref-green-5);

  --warning: var(--ref-orange-90);
  --warning-lightest: var(--ref-orange-5);

  --info: var(--ref-teal-70);
  --info-lightest: var(--ref-teal-5);

  --error: var(--ref-red-80);
  --error-lightest: var(--ref-red-5);
}


@mixin context-light-canvas {
  --canvas-extra-lightest: var(--ref-neutral-5);
  --canvas-lightest: var(--ref-neutral-10);
  --canvas-lighter: var(--ref-neutral-20);
  --canvas-light: var(--ref-neutral-30);
  --canvas: var(--ref-white);
  --canvas-dark: var(--ref-neutral-40);
  --canvas-darker: var(--ref-neutral-50);
  --canvas-darkest: var(--ref-neutral-60);
  --canvas-extra-darkest: var(--ref-neutral-70);
  
  --surface-lightest: var(--ref-neutral-60);
  --surface-lighter: var(--ref-neutral-70);
  --surface-light: var(--ref-neutral-80);
  --surface: var(--ref-neutral-90);
  --surface-white: var(--ref-white);
  --surface-black: var(--ref-black);

  --outline-light: var(--ref-neutral-50);
  --outline-lighter: var(--ref-neutral-40);
  --outline-lightest: var(--ref-neutral-30);
  --outline-extra-lightest: var(--ref-neutral-20);

  --primary-enabled: var(--ref-primary-70);
  --primary-hovered: var(--ref-primary-80);
  --primary-focused: var(--ref-primary-90);
  --primary-enabled-surface: var(--ref-black);
  --primary-hovered-surface: var(--ref-black);
  --primary-focused-surface: var(--ref-black);

  --secondary-enabled: var(--ref-primary-70);
  --secondary-hovered: var(--ref-primary-80);
  --secondary-focused: var(--ref-primary-90);
  --secondary-enabled-surface: var(--ref-black);
  --secondary-hovered-surface: var(--ref-black);
  --secondary-focused-surface: var(--ref-black);

  --link-enabled-surface: var(--ref-secondary-90);
  --link-hovered-surface: var(--ref-secondary-80);
  --link-focused-surface: var(--ref-secondary-70);
  --link-article-hovered-canvas: var(--link-enabled-surface);
  --link-article-hovered-surface: var(--black);

  --form-field-outline: var(--ref-neutral-60); 
  --form-field-enabled: var(--interactive-enabled); 
  --form-field-hovered: var(--interactive-hovered); 
  --form-field-focused: var(--interactive-focused); 

  --interactive-enabled: var(--ref-primary-70);
  --interactive-hovered: var(--ref-primary-80);
  --interactive-focused: var(--ref-primary-90);
  --interactive-light: var(--ref-primary-40);
  --interactive-lighter: var(--ref-primary-30);
  --interactive-lightest: var(--ref-primary-20);
  --interactive-extra-lightest: var(--ref-primary-10);

  // Misc
  accent-color: var(--ref-primary-90);
}

@mixin context-dark-canvas {
  --canvas-extra-lightest: var(--ref-dark-80);
  --canvas-lightest: var(--ref-dark-70);
  --canvas-lighter: var(--ref-dark-60);
  --canvas-light: var(--ref-dark-50);
  --canvas: var(--ref-dark-90);
  --canvas-dark: var(--ref-dark-30);
  --canvas-darker: var(--ref-dark-20);
  --canvas-darkest: var(--ref-dark-10);
  --canvas-extra-darkest: var(--ref-dark-5);
  
  --surface-lightest: var(--ref-neutral-40);
  --surface-lighter: var(--ref-neutral-30);
  --surface-light: var(--ref-neutral-20);
  --surface: var(--ref-neutral-5);
  --surface-white: var(--ref-black);
  --surface-black: var(--ref-white);

  --outline-light: var(--ref-neutral-70);
  --outline-lighter: var(--ref-neutral-60);
  --outline-lightest: var(--ref-neutral-70);
  --outline-extra-lightest: var(--ref-neutral-80);

  --primary-enabled: var(--ref-primary-70);
  --primary-hovered: var(--ref-primary-80);
  --primary-focused: var(--ref-primary-90);
  --primary-enabled-surface: var(--ref-black);
  --primary-hovered-surface: var(--ref-black);
  --primary-focused-surface: var(--ref-black);

  --secondary-enabled: var(--ref-primary-70);
  --secondary-hovered: var(--ref-primary-80);
  --secondary-focused: var(--ref-primary-90);
  --secondary-enabled-surface: var(--ref-white);
  --secondary-hovered-surface: var(--ref-black);
  --secondary-focused-surface: var(--ref-black);

  --link-enabled-surface: var(--ref-secondary-20);
  --link-hovered-surface: var(--ref-secondary-30);
  --link-focused-surface: var(--ref-secondary-40);
  --link-article-hovered-canvas: var(--link-enabled-surface);
  --link-article-hovered-surface: var(--black);

  --form-field-outline: var(--ref-neutral-60); 
  --form-field-enabled: var(--interactive-enabled); 
  --form-field-hovered: var(--interactive-hovered); 
  --form-field-focused: var(--interactive-focused); 

  --interactive-enabled: var(--ref-primary-60);
  --interactive-hovered: var(--ref-primary-50);
  --interactive-focused: var(--ref-primary-40);
  --interactive-light: var(--ref-primary-30);
  --interactive-lighter: var(--ref-primary-20);
  --interactive-lightest: var(--ref-primary-10);
  --interactive-extra-lightest: var(--ref-primary-5);

  // Misc
  accent-color: var(--ref-primary-90);
}



