@mixin context-shape {
  --rounded-none: 0;  
  --rounded-tiny: var(--ref-size-4);  
  --rounded-extra-small: var(--ref-size-8);
  --rounded-small: var(--ref-size-12);
  --rounded-medium: var(--ref-size-16);  
  --rounded-large: var(--ref-size-32); 
  --rounded-extra-large: var(--ref-size-64);  
  --rounded-full: 100%;
}