hr {
  display: block;
  overflow: visible;
  height: 1px;
  box-sizing: content-box;
  padding: 0;
  border: 0;
  border-top: 1px solid var(--outline-lighter);
  margin-block-start: var(--gutter-medium);
  margin-block-end: var(--gutter-medium);
}


// MQs
@include respond(laptop-small) {
  hr {
    margin-block-start: var(--gutter-large);
    margin-block-end: var(--gutter-large);
  }
}