fieldset {
  width: 100%;
  border: 0;
}

legend {
  display: table;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: var(--spacing-small);
  color: inherit;
  line-height: var(--leading-tiny);
  white-space: normal;
}

label {
  display: inline-block;
  cursor: pointer;
  line-height: var(--leading-base);
  font-weight: 600;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

input,
select,
textarea {
  width: 100%;
  padding: var(--spacing-extra-small) var(--spacing-small);
  border: 2px solid var(--form-field-outline);
  background-color: transparent;
  border-radius: var(--rounded-tiny);
  color: inherit;
  font-weight: 600;
  transition-duration: 150ms;
  transition-property: border-color;

  &:hover {
    border-color: var(--form-field-hovered);
  }

  &:focus {
    border-color: var(--form-field-focused);
    box-shadow: 0 0 0 2px var(--form-field-focused);
    outline: none;
  }

  &:disabled {
    border-color: var(--canvas-dark);
    background-color: var(--canvas-dark);
    cursor: not-allowed;
    color: var(--surface-lighter)
  }
}

// input,
// select {
//   //height: var(--size-48);
// }

select {
  background-color: inherit;
  cursor: pointer;
  touch-action: manipulation;
}

textarea {
  overflow: auto;
  min-height: 10rem;
}

progress {
  vertical-align: baseline;
}

// Radio and Checkbox
[type="button"],
[type="reset"],
[type="checkbox"],
[type="radio"],
[type="submit"] {
  width: auto;
  height: auto;
  min-height: auto;
}

[type="button"],
[type="reset"],
[type="submit"] {
  &:hover {
    border-color: transparent;
  }

  &:focus {
    border-color: transparent;
    box-shadow: unset;
  } 
}

[type="file"],
[type="range"] {
  border-width: 2.5px;
  border-style: dashed;
  cursor: pointer;
  touch-action: manipulation;
}

:is(
::-webkit-calendar-picker-indicator,
::-webkit-clear-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button
) {
  color: var(--form-field-enabled);
}
