// Container
@mixin ob-contain($breadth, $padBlock, $padInline) {
  max-width: var($breadth);
  padding: var($padBlock) var($padInline);

  .ob-contain {
    padding: 0;
  }
}

@mixin ob-contain-center {
  margin: 0 auto;
}

@mixin ob-contain-pad-block-start-end($size) {
  padding-block-start: var($size);
  padding-block-end: var($size);
}