// Flexboxs
@mixin dp-flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin dp-flex-gap($gap) {
  display: flex;
  flex-wrap: wrap;
  gap: var($gap);
}

@mixin dp-flex-direction-column {
  flex-direction: column;
}

@mixin dp-flex-direction-row {
  flex-direction: row;
}

@mixin dp-flex-center-align {
  align-items: center;
}

@mixin dp-flex-center-apart {
  align-items: center;
  justify-content: space-between;
}

@mixin dp-flex-center {
  align-items: center;
  justify-content: center;
}