// Flexboxs
@mixin dp-grid($gap) {
  display: grid;
  gap: var(($gap));
}

@mixin dp-grid-center-align {
  align-items: center;
}

@mixin dp-grid-center-equal-sides {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}