.cp-quote {
  position: relative;
  max-width: 45ch;
  margin: var(--size-56) auto;
  font-size: var(--fs-subtitle);

  p {
    position: relative;
    z-index: var(--layer-back);
    margin-block-start: 0;
  }

  blockquote {
    max-width: 100%;
    border: none;
  }

  > * + * {
    margin-top: var(--size-8);
  }
}

// Elements
.cp-quote__citation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: var(--size-24);
  margin-top: var(--size-24);
  font-style: normal;
  font-size: inherit;
}

.cp-quote__avatar {
  max-width: 4.375rem;
  max-height: 4.375rem;
  margin-right: var(--size-12);
  border-radius: var(--bd-radius-circle);
}

.cp-quote__author {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--size-8);
  line-height: 1.15;
}

.cp-quote__author-name {
  display: block;
  font-weight: bold;
}

.cp-quote__author-role {
  color: var(--text-on-canvas-subdued-10);
}

// Modifiers
.cp-quote--center {
  text-align: center;

  .cp-quote__citation {
    display: block;
  }
}

.cp-quote--with-mark-left {
  &::before {
    position: absolute;
    z-index: var(--layer-backward);
    top: calc(var(--size-32) * -1);
    left: calc(var(--size-32) * -1);
    color: var(--canvas-subdued-20);
    content: "\201C";
    font-family: var(--typeface-quotes);
    font-size: calc(var(--size-72) * 3);
    line-height: 1;
  }
}

// States
.cp-quote.is-large {
  max-width: 65ch;
}
