.cp-quote {
  position: relative;
  max-width: var(--contain-width-large);
  margin: var(--spacing-medium) auto;

  p {
    margin-top: 0;
    position: relative;
    z-index: var(--layer-back);
  }

  blockquote {
    max-width: 100%;
  }

  > * + * {
    margin-top: var(--spacing-small);
  }
}





// Elements
.cp-quote__citation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: var(--font-size-body-large);
  font-style: normal;
}

.cp-quote__avatar {
  max-width: 4.375rem;
  max-height: 4.375rem;
  margin-right: var(--spacing-small);
  border-radius: var(--bd-radius-circle);
}

.cp-quote__author {
  flex: 1;
  display: inline-block;
}

.cp-quote__author-name {
  display: block;
}

.cp-quote__author-role {
  display: block;
  color: var(--text-subdued);
  font-size: var(--font-size-body-small);
}





// Modifiers
.cp-quote--with-mark-left {
  &::before {
    content: "\201C";
    position: absolute;
    z-index: var(--layer-backward);
    color: var(--gray-lighter);
    font-size: calc(var(--font-size-title-largest) * 4);
    line-height: 1;
    top: calc(var(--spacing-larger) * -1);
    left: calc(var(--spacing-larger) * -1);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}


// States
.cp-quote.is-medium {
  max-width: var(--contain-width-medium);
}


