.cp-quote {
  @include owl(--spacing-small);
  position: relative;
  max-width: var(--contain-size-medium-small);
  margin: var(--spacing-largest) auto;
  text-align: center;
  color: var(--canvas-text-color-v2);

  p {
    position: relative;
    z-index: var(--layer-back);
    margin-block-start: 0;
  }

  blockquote {
    max-width: 100%;
    border: none;
    margin: 0;
  }

  &::before {
    position: absolute;
    z-index: var(--layer-backward);
    top: calc(var(--spacing-default) * -1);
    left: calc(var(--spacing-large) * -1);
    color: var(--canvas-background-color-v4);
    content: "\201C";
    font-family: var(--typeface-secondary);
    font-size: calc(var(--spacing-largest) * 3);
    line-height: 1;
  }
  
}

// Elements
.cp-quote__citation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-style: normal;
  font-size: inherit;
}

.cp-quote__avatar {
  max-width: 4.375rem;
  max-height: 4.375rem;
  margin-inline-end: var(--spacind-default);
  border-radius: var(--shape-rounded-full);
}

.cp-quote__author {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-small);
}

.cp-quote__author-name {
  display: block;
  font-weight: bold;
}

.cp-quote__author-role {
  color: var(--canvas-text-color-v1);
  margin-block-start: var(--spacing-tiny);
}