.cp-quote {
  position: relative;
  max-width: var(--contain-large);
  margin: var(--gutter-medium) auto;
  padding-block-start: var(--gutter-small);
  //text-align: center;
  color: var(--surface-fade);

  p {
    position: relative;
    z-index: var(--layer-back);
    margin-block-start: 0;
  }

  blockquote {
    max-width: 100%;
    border: none;
    margin: 0;
  }

  &::before {
    position: absolute;
    z-index: var(--layer-backward);
    top: -32px;
    left: -32px;
    color: var(--outline-dark);
    content: "\201C";
    font-family: var(--typeface-secondary);
    font-size: calc(var(--typescale-display-large) * 3);
    line-height: var(--leading-tiny);
  }

  & + h2, 
  & + h3, 
  & + h4, 
  & + h5 {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
  
}

// Elements
.cp-quote__citation {
  margin-block-start: var(--spacing-small);
  line-height: var(--leading-extra-small);
  font-style: normal;
  font-size: var(--typescale-body-medium);
}

.cp-quote__author-name {
  display: block;
  font-weight: bold;
}

.cp-quote__author-role {
  display: block;
  color: var(--surface-fade);
  margin-block-start: var(--spacing-tiny);
}

  // Element modifiers
  .cp-quote__citation--align-left {
    text-align: left;
  }