.cp-quote {
  @include owl(--spacing-small);
  position: relative;
  max-width: 47ch;
  margin: var(--spacing-large) auto;

  p {
    position: relative;
    z-index: var(--layer-back);
    margin-block-start: 0;
  }

  blockquote {
    max-width: 100%;
    border: none;
    margin: 0;
  }

  
}

// Elements
.cp-quote__citation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-style: normal;
  font-size: inherit;
}

.cp-quote__avatar {
  max-width: 4.375rem;
  max-height: 4.375rem;
  margin-inline-end: var(--spacind-default);
  border-radius: var(--shape-rounded-full);
}

.cp-quote__author {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacind-small);
}

.cp-quote__author-name {
  display: block;
  font-weight: bold;
}

.cp-quote__author-role {
  color: var(--canvas-text-color-v1);
  margin-block-start: var(--spacing-tiny);
}

// Modifiers
.cp-quote--center {
  text-align: center;

  .cp-quote__citation {
    display: block;
  }
}

.cp-quote--with-mark-left {
  &::before {
    position: absolute;
    z-index: var(--layer-backward);
    top: calc(var(--spacing-large) * -1);
    left: calc(var(--spacing-large) * -1);
    color: var(--canvas-background-color-v4);
    content: "\201C";
    font-family: var(--typeface-quotes);
    font-size: calc(var(--spacing-largest) * 3);
    line-height: 1;
  }
}

// States
.cp-quote.is-large {
  max-width: 65ch;
}
