// Text
.md-initial-letter p {
  &:first-of-type::first-letter {
    color: var(--primary-enabled);
    float: inline-start;
    font-size: var(--typescale-tera);
    line-height: 0.6;
    padding-inline-end: var(--size-nano);
  }
}




// Text Colors
.md-white-text {
  color: var(--white) !important;
}

.md-black-text {
  color: var(--black) !important;
}

.md-primary-text {
  color: var(--primary-enabled) !important;
}




// Text Sizing
.md-lead-text {
  font-size: var(--typescale-small);
}

.md-display-text-small {
  font-size: var(--typescale-extra-large);
  line-height: var(--leading-medium);
}

.md-display-text-medium {
  font-size: var(--typescale-extra-large);
  line-height: var(--leading-medium);
}

.md-display-text-large {
  font-size: var(--typescale-extra-large);
  line-height: var(--leading-medium);
}

.md-display-text-extra-large {
  font-size: var(--typescale-extra-large);
  line-height: var(--leading-medium);
}




// MQs 
@include respond(laptop-small) {
  // Text
  .md-initial-letter p {
    &:first-of-type::first-letter {
      font-size: var(--typescale-peta);
    }
  }


  // Text Sizing
  .md-lead-text {
    font-size: var(--typescale-large);
    line-height: var(--leading-large);
  }

  .md-display-text-small {
    font-size: var(--typescale-giga);
    line-height: var(--leading-large);
  }
  
  .md-display-text-medium {
    font-size: var(--typescale-tera);
    line-height: var(--leading-medium);
  }
  
  .md-display-text-large {
    font-size: var(--typescale-extra-tera);
    line-height: var(--leading-small);
  }

  .md-display-text-extra-large {
    font-size: var(--typescale-peta);
    line-height: var(--leading-extra-small);
  }
}