.md-dp-inline {
  @include dp-flex-wrap-gap(--gutter-extra-small);
  align-items: center
}

.md-dp-inline-apart {
  @include dp-flex-wrap-gap(--gutter-extra-small);
  @include dp-flex-center-apart;
}

.md-dp-center-inline {
  @include dp-flex-wrap-gap(--gutter-extra-small);
  @include dp-flex-center;
}

.md-dp-center-block {
  @include dp-flex-center;
  display: flex;
  flex-direction: column;
}

.md-dp-align-center {
  text-align: center;
}


// Flex children alignments
.md-align-self-start {
  align-self: start;
}


//Placement
.md-place-center {
	display: grid;
	place-items: center;
	block-size: 100vh;
  inline-size: 100%;
}


// Positions
.md-pos-sticky-top {
  position: sticky;
  inset-block-start: var(--gutter-extra-large);
}

