.cp-gallery {
  @include reset-list;
  display: grid;
  gap: var(--size-4);
  grid-auto-flow: dense;
}



// ELements
.cp-gallery__img {
  @include fit-media-into-container;
  cursor: zoom-in;
}





// Modifiers
// .cp-gallery--with-gap-larger {
//   gap: var(--spacing-larger);
// }





// MQs
@include respond(tablet) {
  .cp-gallery {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}   // 600px


@include respond(tablet-l) {

  .cp-gallery.is-half {
    grid-template-columns: 1fr 1fr;
  }

  .cp-gallery__item.is-span-wide {
    grid-column: span 2;
  }
    
  .cp-gallery__item.is-span-tall {
    grid-row: span 2;
  }

  .cp-gallery__item.is-span-box {
    grid-column: span 2;
    grid-row: span 2;
  }

} // 900px

@include respond(laptop) {
  .cp-gallery.is-third {
    grid-template-columns: 1fr 1fr 1fr;
  }
}   // 1240px
