blockquote {
  @include owl(--spacing-default);
  padding: var(--padding);
  border-left: 4px solid var(--border-color);
  font-family: var(--typeface-secondary);
  font-size: var(--lead-text);
  margin: var(--vr-figures) var(--spacing-default);

  > p {
    margin-block-start: 0;
  }
}

q {
  font-style: italic;
}


// MQs
@include respond(tablet-large) {
  blockquote {
    --lead-text: var(--typescale-title-medium);
    --padding: var(--spacing-medium);
    line-height: var(--leading-medium);
    margin: var(--vr-figures) var(--spacing-large);
  }
}


@include respond(laptop-large) {
  blockquote {
    --padding: var(--spacing-large)
  }
}