code {
  box-decoration-break: clone;  
  font-family: var(--typeface-code);
  font-size: inherit;
  hyphens: none;
  tab-size: 2;
  text-align: start;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}
