figure {
  small {
    display: block;
    color: var(--text-on-canvas-subdued-20);
    font-size: var(--fs-caption);
    line-height: 1;
    text-transform: uppercase;
  }
}

figcaption {
  padding: var(--size-8);
  font-size: var(--fs-body-small);
  font-style: italic;
}
