fieldset {
  border: 0;
  width: 100%;
}

legend {
  line-height: var(--nano-line-height);
  margin-bottom: var(--size-4);


  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

label {
  cursor: pointer;
  line-height: var(--nano-line-height);
  font-size: var(--font-size-body);

  + input,
  + select,
  + textarea {
    margin-top: var(--size-4);
  }
}

input,
select,
textarea {
  color: inherit;
  transition-duration: 150ms;
  transition-property: border-color;
  width: 100%;
  border: 2px solid var(--border-color-subdued);
  border-radius: var(--bd-radius-tiny);
  font-weight: bold;
  padding: var(--size-8) var(--size-12);
  background-color: var(--white);

  &:hover {
    border-color: var(--interactive-hovered);
  }

  &:focus {
    outline: none;
    border-color: var(--interactive-focused);
    box-shadow: 0 0 0 2px var(--interactive-focused);
  }

  &:disabled {
    border-color: var(--canvas-disabled);
    background-color: var(--canvas-disabled);
    color: var(--canvas-disabled-text);
    cursor: not-allowed;
  }
}

input,
select {
  height: var(--size-48);
}


select {
  background-color: inherit;
  cursor: pointer;
  touch-action: manipulation;
}


textarea {
  min-height: 10rem;


  overflow: auto;
}

progress {
  vertical-align: baseline;
}


// Radio and Checkbox
[type='button'],
[type='reset'],
[type='checkbox'],
[type='radio'],
[type='submit'] {
  height: auto;
  min-height: auto;
  width: auto;
}

[type='file'],
[type='range'] {  
  cursor: pointer;
  touch-action: manipulation;
  border-style: dashed;
  border-width: 2.5px;
}


// custom checkbox and radio input
[type='checkbox'],
[type='radio'] {
  opacity: 0;
  + label {
    position: relative;
    padding-left: var(--size-28); 

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(var(--size-16) * -1);
    }

    &::before {
      width: 32px;
      height: 32px;
      border: 2px solid var(--border-color-subdued);
      background-color: transparent;
    }

    &::after {
      margin-left: 4px;
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    + label::before {
      border-color: var(--interactive-hovered);
    }
  }

  &:focus {
    + label::before {
      box-shadow: 0 0 0 2px var(--interactive-focused);
      border-color: var(--interactive-focused);
      outline: 3px solid transparent; /* For Windows high contrast mode. */
    }
  }

  &:checked {
    + label::before {
        border-color: var(--interactive-focused);
    }
    + label::after {
        background-color: var(--interactive-focused);
    }
  }

  &:disabled {
    + label {
      cursor: not-allowed;
      color: var(--canvas-disabled-text);
    }
    + label::before {
      border-color: var(--canvas-disabled);
      background-color: var(--canvas-disabled);
      color: var(--canvas-disabled-text);
      cursor: not-allowed;
    }
  }
}

input[type="radio"] {
  + label::before,
  + label::after {
    border-radius: 100%;
  }
}

[type='checkbox'] {
  + label::before {
    border-radius: var(--bd-radius-nano);
  }
}



:is(
  ::-webkit-calendar-picker-indicator,
  ::-webkit-clear-button,
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button
) {
  color: var(--interactive-enabled);
}