h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typeface-primary);
  color: var(--headline-text-color);
  line-height: var(--leading-small);

  &:not(:first-child) {
    margin-block-start: var(--vr);
  }

  + p {
    margin-block-start: var(--spacing-medium-small);
  }
}

h1 {
  font-size: var(--typescale-headline-larger);
}

h2 {
  font-size: var(--typescale-headline-large);
}

h3 {
  font-size: var(--typescale-headline-medium);
}

h4 {
  font-size: var(--typescale-headline-small);
  
}

h5,
h6 {
  font-size: var(--typescale-headline-tiny);
}
