hr {
  border: 0;
  border-top: 1px solid var(--gray-light);
  display: block;
  height: 1px;
  margin-bottom: var(--spacing-unit-huge);
  margin-top: var(--spacing-unit-huge);
  padding: 0;
}
