hr {
  border: 0;
  border-top: 1px solid var(--border-color-subdued);
  display: block;
  height: 1px;
  margin-bottom: var(--size-44);
  margin-top: var(--size-44);
  padding: 0;

  
  box-sizing: content-box;
  overflow: visible;
}
