hr {
  display: block;
  overflow: visible;
  height: 1px;
  box-sizing: content-box;
  padding: 0;
  border: 0;
  border-top: 1px solid var(--border-color-v1);
  margin-block-start: var(--vr);
  margin-block-end: var(--vr);
}


// MQs
@include respond(tablet-large) {
  hr {
    --vr: var(--vr-figures);
  }
}