a {
  color: var(--interactive-enabled);
  text-decoration: underline;

  
  background-color: transparent;

  &:hover {
    text-decoration: none;
  }
}


// make the color of links blue and it hover , focuse and so tints