ul,
ol {
  padding-inline-start: var(--spacing-default);
  margin-inline-start: var(--spacing-default);
}

ul ul,
ol ol {
  margin-block-start: 0;
}

dt {
  font-weight: bold;
}

::marker {
  color: var(--interactive-enabled);
}


// MQs
@include respond(tablet-large) {
  ul,
  ol {
    padding-inline-start: var(--spacing-large);
  }
}
