pre {
  background-color: var(--background-code);
  color: var(--text-on-code);
  font-family: var(--typeface-code);
  font-size: var(--font-size-body-small);
  padding: var(--spacing-small);
  white-space: pre-wrap;

  code {
    background-color: transparent;
  }
}

@include respond(laptop) {
  pre {
    padding: var(--spacing-medium);
  } 
}   // 1366px
