pre {
  
  white-space: pre-wrap;

  code {
    display: block;
    padding: var(--size-16);
    overflow-x: auto;
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;
  }
}

@include respond(laptop) {
  pre {
    code {
      --size-16: var(--size-24);
    }
  } 
}   // 1240px
