pre {
  white-space: pre-wrap;
  border-radius: var(--bd-radius-medium);
  font-size: var(--fs-body);
  background-color: var(--canvas-pre);

  code {
    background-color: transparent;
    border-radius: 0;
    display: block;
    padding: var(--size-24) var(--size-20) var(--size-20);
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overscroll-behavior-x: contain;
  }

  pre {
    margin: 0;
  }
}