blockquote {
  font-family: var(--typeface-quotes);
  font-size: var(--font-size-body-large);
  max-width: var(--container-width-medium);
  padding: var(--size-24);
  
  > p {
    margin-top: 0;
  }

  > * + * {
    margin-top: var(--size-28);
  }
}

q {
  font-style: italic;
}
