blockquote {
  max-width: var(--container-width-medium);
  padding: 0 var(--size-24);
  border-left: 4px solid var(--border-color);
  font-family: var(--typeface-quotes);
  font-size: var(--fs-subtitle);
  margin: var(--size-44) 0 var(--size-44) var(--size-44);

  > p {
    margin-block-start: 0;
  }

  > * + * {
    margin-block-start: var(--size-28);
  }
}

q {
  font-style: italic;
}
