blockquote {
  padding: 0 var(--spacing-large);
  border-left: 4px solid var(--border-color);
  font-family: var(--typeface-secondary);
  font-size: var(--typescale-title-text-medium);
  margin: var(--spacing-larger) 0 var(--spacing-larger) var(--spacing-larger);

  > p {
    margin-block-start: 0;
  }

  > * + * {
    margin-block-start: var(--spacing-larger);
  }
}

q {
  font-style: italic;
}
