table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: var(--size-12);
  text-align: left;
}

caption {
  caption-side: bottom;
  color: var(--canvas-text-subdued);
  font-size: var(--font-size-body-small);
  font-style: italic;
  line-height: var(--small-line-height);
  text-align: left;
}
