.ut-article a {
  border-bottom: 2px solid var(--interactive-enabled);
  padding: 0 2.5px;
  text-decoration: none;

  &:hover {
    background-color: var(--interactive-hovered);
    color: var(--text-on-interactive);
  }
}