.definition-list  {
  display: grid;
  gap: var(--spacing-unit-large);
}





// MQs
@include respond(tablet) {
  // Modifiers
  .definition-list--grid {
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  }
}     // 768px