.ut-dp-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-16);
}

.ut-dp-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--size-16);
}
