.ut-visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}

// .ut-hidden-mobile-yes,
// .ut-hidden-tablet-l-yes,
// .ut-hidden-laptop-yes,

@include respond(mobile) {
  .ut-hidden-mobile-yes {
    display: none !important;
  }

  .ut-hidden-mobile-no {
    display: block !important;
  }
}   // 360px

@include respond(tablet) {
  .ut-hidden-tablet-yes {
    display: none !important;
  }

  .ut-hidden-tablet-no {
    display: block !important;
  }
}   // 600px

@include respond(tablet-l) {
  .ut-hidden-tablet-l-yes {
    display: none !important;
  }

  .ut-hidden-tablet-l-no {
    display: block !important;
  }
}     // 900px

@include respond(desktop) {
  .ut-hidden-desktop-yes {
    display: none !important;
  }

  .ut-hidden-desktop-no {
    display: block !important;
  }
}  // 1440px

@include respond(desktop-l) {
  .ut-hidden-desktop-l-yes {
    display: none !important;
  }

  .ut-hidden-desktop-l-no {
    display: block !important;
  }
}  // 1920px
