.md-initial-letter p {
  &:first-of-type::first-letter {
    color: var(--primary-enabled);
    float: left;
    font-size: var(--typescale-display-medium);
    line-height: 0.6;
    padding: var(--spacing-small) var(--spacing-tiny) 0 0;
  }
}


// Colors
.md-white-text {
  color: var(--white) !important;
}
.md-black-text {
  color: var(--black) !important;
}



// Sizes
.md-lead-text {
  font-size: var(--lead-text-small);
}



// MQs
@include respond(laptop-small) {
  .md-lead-text {
    font-size: var(--lead-text-large);
    line-height: var(--leading-medium);
  }

  .md-initial-letter p {
    &:first-of-type::first-letter {
      font-size: var(--typescale-display-large);
    }
  }
}