@mixin context-dimension {
  --size-zero: 0;
  --size-extra-nano: var(--ref-size-4);
  --size-nano: var(--ref-size-8);
  --size-extra-tiny: var(--ref-size-12);
  --size-tiny: var(--ref-size-16);
  --size-extra-small: var(--ref-size-24);
  --size-small: var(--ref-size-32);
  --size-medium: var(--ref-size-48);
  --size-large: var(--ref-size-64);
  --size-extra-large: var(--ref-size-96);
  --size-mega: var(--ref-size-128);
  --size-extra-mega: var(--ref-size-216);
  --size-giga: var(--ref-size-320);
  --size-extra-giga: var(--ref-size-425);

  // containers for enclosed containers 
  --contain-extra-tiny: var(--ref-size-320);
  --contain-tiny: var(--ref-size-425);
  --contain-extra-small: var(--ref-size-600);
  --contain-small: var(--ref-size-768);
  --contain-medium: var(--ref-size-900);
  --contain-large: var(--ref-size-1024);
  --contain-extra-large: var(--ref-size-1240);
  --contain-mega: var(--ref-size-1440);
  --contain-extra-mega: var(--ref-size-1600);
  --contain-giga: var(--ref-size-1920);
  --contain-extra-giga: var(--ref-size-2560);
}