@mixin context-typography {
  --typeface-primary: Metropolis, "Helvetica Neue", "Segoe UI", ubuntu, system-ui, -apple-system, sans-serif;
  --typeface-secondary: georgia, times, serif;
  --typeface-code: "Fira Code", "Courier New", courier, monospace;

  --typescale-body-extra-small: var(--ref-size-12);
  --typescale-body-small: var(--ref-size-14);
  --typescale-body-medium: var(--ref-size-16);
  --typescale-body-large: var(--ref-size-18);
  --typescale-body-extra-large: var(--ref-size-20);

  --typescale-title-small: var(--ref-size-20);
  --typescale-title-medium: var(--ref-size-24);
  --typescale-title-large: var(--ref-size-26);

  --typescale-headline-extra-small: var(--ref-size-18);
  --typescale-headline-small: var(--ref-size-20);
  --typescale-headline-medium: var(--ref-size-24);
  --typescale-headline-large: var(--ref-size-26);
  --typescale-headline-extra-large: var(--ref-size-28);

  --typescale-display-small: var(--ref-size-36);
  --typescale-display-medium: var(--ref-size-48);
  --typescale-display-large: var(--ref-size-72);

  --lead-text-small: var(--typescale-body-large);
  --lead-text-large:  var(--typescale-title-medium);

  --leading-base: 1; // 16px
  --leading-tiny: 1.125; // 18px
  --leading-extra-small: 1.25; // 20px
  --leading-small: 1.375; // 22px
  --leading-medium: 1.5; // 24px
  --leading-large: 1.625; // 26px
  --leading-extra-large: 1.75; // 28px
}