@mixin context-typography {
  --typeface-primary: Montserrat, sans-serif;
  --typeface-secondary: georgia, times, serif;
  --typeface-code: "Fira Code", "Courier New", courier, monospace;

  --typescale-extra-tiny: var(--ref-size-12);
  --typescale-tiny: var(--ref-size-14);
  --typescale-extra-small: var(--ref-size-16);
  --typescale-small: var(--ref-size-18);
  --typescale-medium: var(--ref-size-20);
  --typescale-large: var(--ref-size-22);
  --typescale-extra-large: var(--ref-size-24);
  --typescale-mega: var(--ref-size-26);
  --typescale-extra-mega: var(--ref-size-28);
  --typescale-giga: var(--ref-size-32);
  --typescale-extra-giga: var(--ref-size-36);
  --typescale-tera: var(--ref-size-48);
  --typescale-extra-tera: var(--ref-size-64);
  --typescale-peta: var(--ref-size-72);
  --typescale-extra-peta: var(--ref-size-96);

  --leading-base: 1; // 16px
  --leading-tiny: 1.125; // 18px
  --leading-extra-small: 1.25; // 20px
  --leading-small: 1.375; // 22px
  --leading-medium: 1.5; // 24px
  --leading-large: 1.625; // 26px
  --leading-extra-large: 1.75; // 28px
}