.cp-button {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  width: auto;
  height: var(--spacing-larger);
  align-items: center;
  justify-content: center;
  padding: var(--spacing-small) var(--spacing-large);
  border: none;
  background-color: transparent;
  border-radius: var(--shape-rounded-larger);
  cursor: pointer;
  font-size: var(--typescale-label-text-large);
  font-weight: bold;
  letter-spacing: 0.03ch;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

// Elements
.cp-button__icon {
  width: var(--size-16);
  height: var(--size-16);
}


// Modifiers
.cp-button--primary {
  background-color: var(--primary-enabled);
  color: var(--primary-enabled-text-color);

  &:hover {
    background-color: var(--primary-hovered);
  }

  &:focus {
    background-color: var(--primary-focused);
    outline: none;
  }
}

.cp-button--secondary {
  border: 2px solid var(--primary-enabled);
  color: var(--text-on-secondary-enabled);

  &:hover {
    background-color: var(--primary-hovered);
    border-color: var(--primary-hovered);
    color: var(--primary-enabled-text-color);
  }

  &:focus {
    background-color: var(--primary-focused);
    border-color: var(--primary-focused);
    outline: none;
  }
}

.cp-button--text {
  color: var(--link-text-color-enabled);
  padding-inline-start:  0;
  padding-inline-end:  0;

  &:hover {
    color: var(--link-text-color-hovered);
  }

  &:focus {
    color: var(--link-text-color-focused);
  }
}

.cp-button--fab {
  width: var(--spacing-larger);
  flex: none;
  padding: 0;
  border: 2px solid var(--border-color);

  &:hover {
    transition:
      transform 200ms linear,
      box-shadow 200ms linear,
      filter 400ms ease;
  }
}

// Sizes
.cp-button--small {
  height: var(--ref-size-40);
  padding: var(--spacing-tiny) var(--spacing-medium);
}