.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: var(--shape-size-larger);
  font-size: var(--font-size-body-smal);
  cursor: pointer;
  user-select: none;
  text-align: center;
  line-height: 1.15;
  background-color: transparent;
  border: none;
  border-radius: var(--bd-radius-large);
  padding: var(--spacing-tiny) var(--spacing-small);
  white-space: nowrap;
  width: auto;
  font-weight: bold;
}

a.button {
  text-decoration: none;
}


// Modofiers
.button--plain {
  color: var(--primary-enabled);

  &:hover {
    background-color: var(--primary-hovered-subdued);
  }

  &:focus {
    background-color: var(--primary-focused-subdued);
  }
}

.button--primary {
  background-color: var(--primary-enabled);
  color: var(--text-on-primary);

  &:hover {
    background-color: var(--primary-hovered);
  }

  &:focus {
    background-color: var(--primary-focused);
  }
}

.button--secondary {
  color: var(--primary-enabled);
  border: 2px solid var(--primary-enabled);

  &:hover {
    background-color: var(--primary-hovered-subdued);
  }

  &:focus {
    background-color: var(--primary-focused-subdued);
  }
}

.button--destructive {
  background-color: var(--error);
  color: var(--text-on-primary);
}