.cp-button {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  width: auto;
  height: var(--size-48);
  align-items: center;
  justify-content: center;
  padding: var(--size-8) var(--size-24);
  border: none;
  background-color: transparent;
  border-radius: var(--bd-radius-largest);
  cursor: pointer;
  font-size: var(--fs-body-small);
  font-weight: bold;
  letter-spacing: 0.03ch;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

// Elements
.cp-button__icon {
  width: var(--size-16);
  height: var(--size-16);
}


// Modifiers
.cp-button--primary {
  background-color: var(--primary-enabled);
  color: var(--text-on-primary-enabled);

  &:hover {
    background-color: var(--primary-hovered);
  }

  &:focus {
    background-color: var(--primary-focused);
    outline: none;
  }
}

.cp-button--secondary {
  border: 2px solid var(--primary-enabled);
  color: var(--text-on-secondary-enabled);

  &:hover {
    background-color: var(--primary-hovered);
    border-color: var(--primary-hovered);
    color: var(--text-on-primary-enabled);
  }

  &:focus {
    background-color: var(--primary-focused);
    border-color: var(--primary-focused);
    outline: none;
  }
}

.cp-button--text {
  color: var(--interactive-enabled);

  &:hover {
    background-color: var(--interactive-hovered);
  }

  &:focus {
    background-color: var(--interactive-focused);
  }
}

.cp-button--muted {
  border: 2px solid var(--icon-color);
  color: inherit;

  &:hover {
    border-color: var(--icon-color-hovered);
  }

  &:focus {
    border-color: var(--icon-color-hovered);
  }
}

.cp-button--small {
  height: var(--size-32);
}

.cp-button--fab {
  width: var(--size-48);
  flex: none;
  padding: 0;
  border: 2px solid var(--border-color-subdued-10);

  &:hover {
    // box-shadow:
    //   0 5px 5px -3px rgb(0 0 0 / 0.11%),
    //   0 8px 8px 1px rgb(0 0 0 / 0.17%),
    //   0 3px 8px 2px rgb(0 0 0 / 0.18%);
    transition:
      transform 200ms linear,
      box-shadow 200ms linear,
      filter 400ms ease;
  }
}

.cp-button--with-icon {
  gap: var(--size-8);
}

// .cp-button__icon--end {

// }
