// Block
.cp-logo {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--typeweight-800);

  &:hover {
   color: inherit;
  }
}

// Elements
.cp-logo--barebook {
  display: flex;
  align-items: center;
  gap: var(--gutter-tiny);
}