.cp-logo {
  display: block;
  max-width: 6.15rem;
  padding: var(--size-4);
  border: 2px solid var(--interactive-enabled);
  border-radius: var(--bd-radius-nano);
  color: inherit;
  line-height: var(--lh-one);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    .cp-logo__item {
      &:nth-of-type(1) {
        transform: translate3d(4.7rem, 1rem, 0) rotate(0deg);
      }

      &:nth-of-type(7) {
        transform: translate3d(-1rem, 4rem, 0) rotate(7deg);
      }

      &:nth-of-type(8) {
        transform: translate3d(1.5rem, -3rem, 0) rotate(-5deg);
      }

      &:nth-of-type(9) {
        transform: translate3d(2rem, 3rem, 0) rotate(-18deg);
      }

      &:nth-of-type(10) {
        transform: translate3d(1rem, 1rem, 0) rotate(-280deg);
      }
    }
  }
}

// Elements
.cp-logo__contain {
  display: grid;
  width: max-content;
  margin: 0;
  grid-auto-rows: 1rem;
  grid-template-columns: repeat(9, 1rem);
}

.cp-logo__item {
  display: flex;
  align-items: center;
  justify-content: start;
  transition: transform 0.5s ease-in-out;

  &:first-child {
    grid-column: 1 / span 9;
    justify-self: start;
  }

  &:nth-of-type(1) {
    transition-duration: 0.35s;
  }

  &:nth-of-type(7) {
    transition-duration: 0.2s;
  }

  &:nth-of-type(8) {
    transition-duration: 0.15s;
  }

  &:nth-of-type(9) {
    transition-duration: 0.35s;
  }

  &:nth-of-type(10) {
    transition-duration: 0.4s;
  }
}
