@media (prefers-color-scheme: light) {
  :root {
    --canvas: var(--white);
    --canvas-subdued: var(--thurab-50);
    --canvas-text: var(--thurab-1000);
    --canvas-text-subdued: var(--thurab-500);
    --canvas-code: var(--thurab-200);
    --canvas-code-text: var(--thurab-1000);
    --canvas-disabled: var(--thurab-75);
    --canvas-disabled-text: var(--thurab-700);
    --border-color-subdued: var(--thurab-200);
    --icon-color: var(--thurab-600);
  
    // Primary-Theme
    --primary-enabled: var(--primary-darker);
    --primary-text: var(--white);
    --primary-hovered: var(--primary-dark);
    --primary-hovered-subdued: var(--primary-lightest);
    --primary-focused: var(--primary);
    --primary-focused-subdued: var(--primary-lighter);
    --primary-pressed: var(--primary);
  
    // Interactive-Theme -> links, focus indicators and selected interactive states
    --interactive-enabled: var(--interactive-darker);
    --interactive-text: var(--white);
    --interactive-background-selected: var(--interactive-lightest);
    --interactive-hovered: var(--interactive-dark);
    --interactive-focused: var(--interactive-darker);
    --interactive-pressed: var(--interactive-darker);
   
  
    // selections
    --selection: var(--primary);
    --selection-text: var(--white);
  }
}


