// Light theme
html[data-theme="light"] {

  // Surfaces -> pages, cards etc 
  --background: var(--white);
  --background-subdued: var(--gray-lightest);
  --background-code: var(--primary-lightest);
  --text: var(--gray-darkest);
  --text-subdued: var(--gray-dark);
  --text-disabled: var(--gray-dark);
  --text-on-code: var(--black);
  --border: var(--gray);

  // Primary
  --primary-enabled: var(--primary-darker);
  --text-on-primary: var(--white);
  --primary-hovered: var(--primary-dark);
  --primary-hovered-subdued: var(--primary-lightest);
  --primary-focused: var(--primary);
  --primary-focused-subdued: var(--primary-lighter);
  --primary-pressed: var(--primary);
  --primary-disabled: var(--gray-light);

  // Secondary -> secondary and tertiary buttons and the background of form elements.
  --secondary: var(--white);
  --secondary-hovered: var(--gray-lightest);
  --secondary-focused: var(--gray-lighter);
  --secondary-pressed: var(--gray-lighter);
  --secondary-disabled: var(--gray-light);

  // Interactive -> links, focus indicators and selected interactive states
  --interactive-enabled: var(--interactive-darker);
  --interactive-background-selected: var(--interactive-lightest);
  --interactive-hovered: var(--interactive-dark);
  --interactive-focused: var(--interactive-darker);
  --interactive-pressed: var(--interactive-darker);
  --interactive-disabled: var(--gray-light);
  --text-on-interactive: var(--white);

  // selections
  --selection: var(--primary);
  --text-on-selection: var(--white);

}