// References
@import './reference/color';

// Context

  // Light Scheme
  @import './context/light-scheme/canvas';


  // Dark Scheme
  @import './context/dark-scheme/canvas';


:root {
  // References
  @include ref-color;


  color-scheme: light dark;
}


// Prefers-color-scheme
@media (prefers-color-scheme: light) {
  :root {
    @include light-canvas;

    // accent-color: var(--interactive-enabled);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-canvas;

    // accent-color: var(--interactive-enabled);
  }
}
