// Block
.cp-list {}




// Variants
.cp-list--first-child {
    order: -1;  
    margin-block-end: var(--size-base) !important;
}

.cp-list--upcase {
    text-transform: uppercase;
    font-size: var(--typescale-tiny);
}

.cp-list--compacted {
    .cp-list__item {
        padding-block: var(--size-extra-nano);
    }
}

.cp-list--separated {
    > * + * {
        border-block-start: 1px solid var(--stroke);
    }
}

.cp-list--grid {
    @include dp-center-inline-gap(--space-24);
}



// Element
.cp-list__item {
    display: list-item;
    padding-block: var(--size-base);
}

.cp-list__link {
    @include reset-link;
}


// Element Modifiers
.cp-list__item--grid {
    @include dp-center-inline;
    gap: var(--size-extra-nano);
}



  





// Other Variants or UIs
@import './data-list';