// Mixins
@mixin center-user-input {
	input,
	select {
		text-align: center;
	}
}

.cp-field {
  &:not(:first-child) {
    margin-top: var(--spacing-medium);
  }
}





// Elements
.cp-field__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--spacing-small);
}

.cp-field__hint {
  display: block;
  font-size: var(--font-size-body-small);
  margin-bottom: var(--spacing-tiny);
  color: var(--canvas-text-subdued);
}

legend + .cp-field__hint {
  margin-top: calc(var(--spacing-tiny) * -1);
}





// Modifiers
.cp-field--checkadio {
  &:not(:first-child) {
    margin-top: var(--spacing-small);
  }
}

.cp-field__group--grid {
  flex-direction: row;
}

.cp-field__group--checkadio {
  gap: var(--spacing-larger);
}

.cp-field__group--date {
	@include center-user-input;
  gap: var(--spacing-tiny);

	> :nth-child(1) {
		width: 64px;
	} 

	> :nth-child(2) {
		width: 156px;
	} 

	> :nth-child(3) {
		width: 96px;
	} 
}



.cp-field__group--pin {
	@include center-user-input;

	input {
		font-size: var(--font-size-heading-tiny);
	}

	> * {
		width: 124px;
	}
}



// MQs
@include respond(tablet) {
  .cp-field__group--date {
    gap: var(--spacing-small);

    > :nth-child(1) {
      width: 96px;
    } 
  
    > :nth-child(2) {
      width: 156px;
    } 
  
    > :nth-child(3) {
      width: 124px;
    } 
  }
}     // 600px











