.contain {
  max-width: var(--contain-width-larger);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-unit-medium);
  padding-left: var(--spacing-unit-medium);

  .contain {
    padding-right: 0;
    padding-left: 0;
  }
}