.lo-footer {
  padding-block-start: var(--gutter-medium);
  padding-block-end: var(--gutter-medium);
  border-top: 1px solid var(--outline);
}

.lo-footer__apart {
  @include dp-flex-wrap-gap(--gutter-medium);
}


.lo-footer-nav {
  @include reset-list;
}

.lo-footer-nav__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--interactive-hovered);
  }
}



// MQs
@include respond(tablet-large) {
  .lo-footer  {
    padding-block-start: var(--gutter-large);
    padding-block-end: var(--gutter-large);
  }
}