.lo-footer {
  border-top: 1px solid var(--border-color-v1);
}

.lo-footer__contain {
  @include ob-contain(--contain-page-medium, --spacing-largest, --spacing-default);
  @include ob-contain-center;
}

.lo-footer__apart {
  @include dp-flex-gap(--spacing-largest);
}


.lo-footer-nav {
  @include reset-list;
}

.lo-footer-nav__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--interactive-hovered);
  }
}



// MQs
@include respond(tablet-small) {
  .lo-footer__contain {
    @include ob-contain-pad-inline-start-end(--spacing-large)
  }
}