@include respond(tablet) {
  .ob-artwork {
    position: relative;
    left: 50%;
    right: 50%;
    max-width: 100vw;
    width: 100vw;
    margin-inline-start: -50vw;
    margin-inline-end: -50vw;
  
    img {
      @include fit-media-into-container;
    }
  
    figcaption {
      margin-inline-start: var(--size-48);
    }
  }
}     // 600px


@include respond(laptop) {
  .ob-artwork--at-center {
    left: 25%;
    right: 25%;
    max-width: 75vw;
    width: 75vw;
    margin-left: -25vw;
    margin-right: -25vw;
  }
}   // 1240px
