.ob-avatar {
  background-color: var(--canvas-subdued-10);
}





// Modifiers 
.ob-avatar--circle {
  border-radius: 100%;
}

.ob-avatar--rounded {
  border-radius: 1rem;
}

.ob-avatar--border-color-subdueded {
  border: 1px solid var(--border-color-subdued-10);
}

.ob-avatar--ring {
  border: 1px solid var(--border-color-subdued-10);
  padding: 0.25rem;
}





// States
.ob-avatar.is-tiny {
  width: 2.5rem;
  height: 2.5rem;
}

.ob-avatar.is-small {
  width: 4.5rem;
  height: 4.5rem;
}

.ob-avatar.is-medium {
  width: 6.5rem;
  height: 6.5rem;
}

.ob-avatar.is-large {
  width: 8.5rem;
  height: 8.5rem;
}
