// Block
.ob-contain {
  max-width: var(--contain-size-default);
  padding: 0 var(--spacing-default);
  margin: 0 auto;
}


  // Modifiers
  .ob-contain--owl {
    > *:not(first-child) {
      margin-block-start: var(--spacing-larger);
    }
    .ob-contain {
      padding: 0;    
    }
  }

  .ob-contain--size-large {
    max-width: var(--contain-size-large);
  }

  .ob-contain--size-larger {
    max-width: var(--contain-size-larger);
  }

  .ob-contain--size-largest {
    max-width: var(--contain-size-largest);
  }

  .ob-contain--size-huge {
    max-width: var(--contain-size-huge);
  }



// MQs
@include respond(tablet-large) {
  .ob-contain {
    padding: 0 var(--spacing-medium);
  }
}