// Block
.ob-contain {
  max-width: var(--contain-size-default);
  padding: 0 var(--padding);
  margin: 0 auto;

  > * + * {
    margin-block-start: var(--spacing-larger) !important;
  }

  .ob-contain {
    padding: 0;
  }
}


  // Modifiers
  .ob-contain--size-large {
    max-width: var(--contain-size-large);
  }

  .ob-contain--size-larger {
    max-width: var(--contain-size-larger);
  }

  .ob-contain--size-largest {
    max-width: var(--contain-size-largest);
  }

  .ob-contain--size-huge {
    max-width: var(--contain-size-huge);
  }

  .ob-contain--size-full {
    max-width: 100%;
  }




// MQs
@include respond(tablet-large) {
  .ob-contain {
    --padding: var(--spacing-medium);
  }
}