.ob-contain {
  max-width: var(--contain-target-width);
  padding: 0 var(--size-16);
  .ob-contain {
    padding: 0;
  }
}

// Modifiers
.ob-contain--center {
  margin-inline: auto;
}

.ob-contain--with-v-pad {
  padding-block-end: var(--size-64);
  padding-block-start: var(--size-64);
}
