// Block
.ob-definition-list  {
  display: grid;
  gap: var(--gutter);
}



// MQs
@include respond(tablet-small) {
  .ob-definition-list--grid {
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr)); // 336px - 3 cols @96px per col with 24px gap
  }
}

@include respond(tablet-large) {
  .ob-definition-list  {
    --gutter: var(--spacing-large);
  }
}