.ob-definition-list  {
  display: grid;
  gap: var(--size-24);
}





// MQs
@include respond(tablet) {
  // Modifiers
  .ob-definition-list--grid {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  }
}     // 600px