.ob-grid {
  @include reset-list;
  @include dp-grid;
}



// modifiers
.ob-grid--with-gap {
  gap: var(--spacing-medium);
}



// MQs
@include respond(tablet-tiny) {
  .ob-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// .ob-grid-size-small { shpuld be a modifier
//   grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
// } 

// @include respond(tablet-small) {
  
// }

@include respond(tablet-large) {
  .ob-grid {
    &.is-two-col {
      grid-template-columns: 1fr 1fr;
    }
    &.is-three-col {
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    }
    &.is-four-col {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }

  .ob-grid--with-gap {
    gap: var(--spacing-large);
  }
}

@include respond(laptop-medium) {
  .ob-grid--column {

    display: block;

    column-gap: var(--spacing-huge);
    columns: 460px;
    
    > * {
      break-inside: avoid;

      &:not(:last-child) {
        margin-block-end: var(--spacing-huge);
      }
    }
  }
}