// Block
.ob-grid {
  @include reset-list;
  display: grid;
  gap: var(--gutter-small);
  //grid-template-columns: repeat(3, 1fr);
}

  // Modifers

// Elements
// .ob-grid__column {
//   // &.is-two    { grid-column: 1/span 2; }
//   // &.is-three  { grid-column: 1/span 3; }
//   // &.is-four   { grid-column: 1/span 4; }
//   // &.is-five   { grid-column: 1/span 5; }
//   // &.is-six    { grid-column: 1/span 6; }
//   // &.is-seven  { grid-column: 1/span 7; }
//   // &.is-eight  { grid-column: 1/span 8; }
//   // &.is-nine   { grid-column: 1/span 9; }
//   // &.is-ten    { grid-column: 1/span 10; }
// }


// MQs
@include respond(tablet-tiny) {
  .ob-grid {
    grid-template-columns: 1fr 1fr;
  }

  .ob-grid--align-center {
    align-items: center;
  }

  .ob-grid--half {
    grid-template-columns: 1fr 1fr;
  }

}

@include respond(tablet-large) {
  .ob-grid--auto {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }

  .ob-grid--third {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



@include respond(laptop-medium) {
  .ob-grid--layout-columns {
    display: block;
    column-gap: var(--gutter-small);
    columns: var(--contain-small);
    
    > * {
      break-inside: avoid;

      &:not(:last-child) {
        margin-block-end: var(--gutter-small);
      }
    }
  }
}