.ob-grid {
  @include reset-list;
  @include dp-grid;
}



// modifiers
.ob-grid--with-gap {
  gap: var(--spacing-medium);
}



// MQs
@include respond(mobile-medium) {
  .ob-grid-size-small {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  } 
}

@include respond(tablet-small) {
  .ob-grid-size-small {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  } 
}

@include respond(tablet-large) {
  // Modifiers
  .ob-grid-size-small {
    &.is-two-col {
      grid-template-columns: 1fr 1fr;
    }
    &.is-three-col {
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    }
    &.is-four-col {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }
}