  // Block
  .ob-img-backward {
    position: relative;
    border-radius: 0;

    &::before {
      @include pseudo-class;
      position: absolute;
      width: 90%;
      height: 90%;
      background-color: var(--canvas-background-color-darker);
      border-top-left-radius: var(--shape-rounded-large);
    }

    .ob-img-backward__img {
      border-radius: 0;
      padding-block-start: 32px;
      padding-inline-start: 32px;
      border-bottom-right-radius: var(--shape-rounded-large);
    }
    
  }



// Elements
.ob-img-backward__img {
  @include fit-media-into-container;
  @include trans-and-scale;
  position: var(--layer-forward);   

  &:hover {
    @include scale-out-on-hover-and-focus;
  }
}

  


