.ob-media {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--spacing-small);
  margin: 0;
}





// Elements
.ob-media__caption {
  flex: 1;
  display: block;
  font-style: normal;
}

.ob-media__author-name {
  display: block;
  font-weight: bold;
  font-size: var(--font-size-body-medium);
}

.ob-media__author-role {
  color: var(--text-subdued);
  font-size: var(--font-size-body-small);
  text-transform: uppercase;
}





// Modifiers
.ob-media--at-center {
  align-items: center;
}
