// Block
.ob-media {
  @include dp-flex-gap(--spacing-small);
  align-items: flex-start;
  margin: 0;
}

  // Modifiers
  .ob-media--align-center {
    align-items: center;
  }

// Elements
.ob-media__caption {
  flex: 1;
  display: block;
  font-style: normal;
}

.ob-media__author-name {
  display: block;
  font-weight: bold;
  font-size: var(--typescale-base-text-large);
}

.ob-media__author-role {
  color: var(--canvas-text-color-light);
  font-size: var(--typescale-label-text-medium);
  text-transform: uppercase;
}




