// Block
.ob-media {
  @include dp-flex-gap(--spacing-small);
  align-items: center;
}

  // Modifiers
  // .ob-media--align-top {
  //   align-items: center;
  // }


// Elements
.ob-media__caption {
  flex: 1;
  display: block;
  font-style: normal;
}

.ob-media__author-name {
  display: block;
  font-weight: bold;
  font-size: var(--typescale-body-large);
}

.ob-media__author-role {
  color: var(--canvas-text-color-light);
  text-transform: uppercase;
}




