.ob-off-canvas-nav {
  @include pos-fix-zero-all-sides;
}

// Elements
.ob-off-canvas-nav__contain {
  @include default-contain;

  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
}

.ob-off-canvas-nav__header {
  @include dp-flex-apart-center;

  padding: var(--size-16);  
}

.ob-off-canvas-nav__main {
  margin-top: auto;
  margin-bottom: auto;
}

.ob-off-canvas-nav__footer {
  padding: var(--size-16);
}
