.ob-off-canvas-nav {
  @include pos-zero-all-sides;
  position: fixed;
}

// Elements
.ob-off-canvas-nav__contain {
  @include ob-contain(--contain-page-small, --spacing-zero, --spacing-default);
  

  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
}

.ob-off-canvas-nav__header {
  @include dp-flex(--spacing-default);
  @include dp-flex-center-apart;

  padding: var(--spacing-default);  
}

.ob-off-canvas-nav__main {
  margin-top: auto;
  margin-bottom: auto;
}

.ob-off-canvas-nav__footer {
  padding: var(--spacing-default);
}
