.ob-off-canvas-nav {
  @include pos-fix-zero-all-sides;
}



// Elements
.ob-off-canvas-nav__contain {
  display: flex;
  flex-direction: column;
  max-width: var(--contain-width-huge);
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

.ob-off-canvas-nav__header {
  padding: var(--gutter-spacing-small);
}

.ob-off-canvas-nav__main {
  margin-top: auto;
  margin-bottom: auto;
}

.ob-off-canvas-nav__footer {
  padding: var(--gutter-spacing-small);
}