.section {
  padding-top: var(--spacing-unit-largest);
  padding-bottom: var(--spacing-unit-largest);
}





// Elements
.section__header {
  display: flex;
  flex-direction: column;
} 





// Modifiers





// States
.section.with-no-pad {
  padding: 0;
}

.section__header.at-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}





// * MQs
@include respond(laptop-m) {
  .section {
    padding-top: calc(2 * var(--spacing-unit-largest));
    padding-bottom: calc(2 * var(--spacing-unit-largest));
  }
} // 1366px