.ob-section {
  padding-top: var(--spacing-larger);
  padding-bottom: var(--spacing-larger);
}





// Elements
.ob-section__header {
  display: flex;
  flex-direction: column;
} 





// Modifiers
.ob-section--with-no-pad {
  padding: 0;
}

.ob-section__header--at-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}






// * MQs
@include respond(laptop) {
  .ob-section {
    padding-top: calc(2 * var(--spacing-larger));
    padding-bottom: calc(2 * var(--spacing-larger));
  }
}   // 1240px