// Block
.ob-sides-alternate {
  @include reset-list;
  @include owl(--gutter-small);
}

.ob-sides {
  display: grid;
  gap: var(--gutter-small);
}



// Elements
.ob-sides__text {
  display: flex;
  flex-direction: column;
  @include owl(--spacing-medium);
  flex-grow: 1;

  h2, 
  h3, 
  h4, 
  h5 {
    margin-block-start: var(--spacing-medium);
  }
}

.ob-sides__button {
  align-self: start;
}

.ob-sides__media {
  position: relative;
}

    

// MQs
@include respond(tablet-large) {
  .ob-sides {
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter-medium);
  }
}

@include respond(laptop-medium) {
  .ob-sides {
    gap: var(--gutter-large);
  }

  .ob-sides__text {
    padding-inline-start: var(--gutter-large);
    padding-inline-end: var(--gutter-large);
  }

  .ob-sides--two-third {
    grid-template-columns: 1.5fr 1fr;
  }

  .ob-sides--two-third-reversed {
    grid-template-columns: 1fr 1.5fr ;
  }

  .ob-sides__text--contain {
    max-width: var(--contain-large);
  }
}