.ob-sides {
  display: grid;
}





// Elements
.ob-sides__text {
  padding: var(--spacing-unit-medium);

  & :last-child {
    margin-top: var(--spacing-unit-medium);
  }
} 



// Modifiers
.ob-sides--at-center{
  align-items: center;
}

.ob-sides--with-gap-larger {
  gap: var(--spacing-unit-larger);
}

.ob-sides--with-gap-largest {
  gap: var(--spacing-unit-largest);
}

.ob-sides--with-gap-huge {
  gap: var(--base-spacing-unit-medium);
}




// MQs
@include respond(tablet) {
  .ob-sides {
    grid-template-columns: 1fr 1fr;
  }
} // 600px



@include respond(laptop) {

  .ob-sides__text {
    padding: 0 10%;
  }


  // States
  .ob-sides.is-two-third {
    grid-template-columns: 1.5fr 1fr;
  }

  .ob-sides.is-two-third-reverse  {
    grid-template-columns: 1fr 1.35fr;
  }

}   // 1240px