.ob-sides {
  display: grid;  
}



// Elements
.ob-sides__text {
  padding: var(--spacing-default);

  > * + * {
    margin-block-start: var(--spacing-default);
  }

  & :last-child {
    margin-block-start: var(--spacing-medium);
  }
} 



// Modifiers
.ob-sides--at-center{
  align-items: center;
}



// MQs
@include respond(mobile-large) {
  // Elements
  .ob-sides__text {
    padding: var(--spacing-medium);
  } 
}

@include respond(tablet-small) {
  .ob-sides {
    grid-template-columns: 1fr 1fr;
  }

  // States
  .ob-sides.is-two-third {
    grid-template-columns: 1.5fr 1fr;
  }

  .ob-sides.is-two-third-reverse  {
    grid-template-columns: 1fr 1.5fr;
  }
} 

@include respond(tablet-large) {
  // Elements
  .ob-sides__text {
    padding: var(--spacing-large) 10%; //TODO: value should be a variable
  } 
} 