// Block
.ob-slat {
  padding-block-start: var(--gutter-medium);
  padding-block-end: var(--gutter-medium);
}

// Elements
.ob-slat__title-preline {
  position: relative;
  padding-block-start: var(--spacing-medium);

  &::before { //TODO: the numbers here ot shape dimensions
    @include pseudo-class;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 2px;
    background-color: var(--outline-dark);
  }
}

.ob-slat__sub-title {
  margin-block-start: var(--spacing-tiny);
  color: var(--surface-fader);
}

  // Modifiers
  .ob-slat--owl {
    @include owl(--gutter-small);
  }

  .ob-slat--fill-bg {
    position: relative;

    &::before {
      @include pseudo-class;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 25%;
      left: 0;
      background-color: var(--primary-enabled);
    }
  }

  // Element Modifiers
  .ob-slat__title-preline--center {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }



// MQs
@include respond(tablet-large) {
  .ob-slat {
    padding-block-start: var(--gutter-large);
    padding-block-end: var(--gutter-large);
  }
  .ob-slat--fill-bg {
    &::before {
      right: 40%;
      bottom: 0;
    }
  }
}

@include respond(laptop-medium) {
  .ob-slat {
    padding-block-start: var(--gutter-extra-large);
    padding-block-end: var(--gutter-extra-large);
  }

  .ob-slat--fill-bg {
    &::before {
      right: 35%;
    }
  }
}
