.ob-tag {
  display: inline-flex;
  font-size: var(--typescale-body-medium);
  order: -1;
  margin-block-end: var(--spacing-tiny);
}

  // Modifiers
  .ob-tag--upcase {
    text-transform: uppercase;
    font-size: var(--typescale-body-small);
  }