.ob-tag {
  @include reset-list;
  display: inline-flex;
  font-size: var(--typescale-body-medium);
  order: -1;
  margin-block-end: var(--spacing-default);
  color: var(--canvas-text-color-dark);
}

  // Modifiers
  .ob-tag--upcase {
    text-transform: uppercase;
    font-size: var(--typescale-body-small);
  }


// Elements
.ob-tag__list-item {

}

.ob-tag__link {
  text-decoration: none;
  color: var(--canvas-text-color-dark);
}